[2016-03-31 05:55] bcherny opened #1 "Ensure that code complies with official JSON-schema test suite"
https://github.com/json-schema/JSON-Schema-Test-Suite/tree/node

[2016-03-31 05:55] bcherny opened #2 "Support custom JSON-schema extensions"

[2016-03-31 05:55] bcherny opened #3 "Support external (network) schema references"

[2016-03-31 05:55] bcherny opened #4 "Add support for running in browser"

[2016-03-31 05:56] bcherny opened #5 "Add support for "extends" keyword"

[2016-03-31 05:56] bcherny opened #6 "Add support for "validateRequired" keyword"

[2016-03-31 05:56] bcherny opened #7 "Support referencing schema by id"

[2016-03-31 06:10] pathikrit opened #8 "Generate dynamic validators for things that cannot be staticaly checked"
For all the things mentioned here: https://github.com/bcherny/json-schema-to-typescript#not-expressible-in-typescript , generate companion objects for the interfaces with a single `validate` which accepts an instance of the interface and applies run-time validations.

[2016-04-27 08:28] majo44 opened #9 "Support custom template of generated interfaces"
It will be nice to have possibility to provide custom template (eg mustache or some other template engine) for generating the interfaces in custom way eg. for putting some comments etc.

[2016-04-27 08:36] majo44 opened #10 "Provide the tsdoc/typedoc/jsdoc proper commentaries to generated interfaces based on schema title and/or schema description."
Currently the commentaries are based only on description.

Eg.
For schema:

[code]

We have:

[code]

It will be nice to have:

[code]

[2016-04-28 19:35] bcherny commented on #8
Another option: classes with method decorators

[2016-04-30 17:21] bcherny commented on #9
Can you tell me a bit more about your use case? What's an example input + output?

[2016-04-30 17:25] bcherny commented on #10
Good idea - how about a heuristic:

- If a property only has a description, use an inline comment
- If a property has both a description and a title, use a block comment

Feel free to submit a PR, otherwise I'll get to this eventually.

[2016-08-17 17:27] bcherny opened #12 "Make ES5-compatible build"

[2016-08-23 17:02] #12 closed

[2016-08-26 15:46] kanreisa opened #14 "why useInterfaceDeclaration: false"
https://github.com/bcherny/json-schema-to-typescript/blob/master/src/TsTypes.ts#L22

why?

[2016-08-26 16:19] kanreisa commented on #14
and, why use type as interface?

https://github.com/bcherny/json-schema-to-typescript/blob/master/src/TsTypes.ts#L5
https://github.com/bcherny/json-schema-to-typescript/blob/master/src/TsTypes.ts#L61

[2016-08-26 16:34] bcherny commented on #14
Cc @Speedy37

[2016-08-26 17:42] Speedy37 commented on #14
`type` allow to declare some "simple" types that can't be declared with `interface`.
for example: `type MyType = MyOtherType[]`
the default value for `useInterfaceDeclaration` is `false` because I prefer having all types with the same syntax and because I don't use the generated types with `extend` or `implements`.
`useInterfaceDeclaration` will only apply to declarations that can be expressed wit

[2016-08-26 18:04] kanreisa commented on #14
cool implementation :anguished:

[2016-08-26 18:39] bcherny commented on #14
@kanreisa If you disagree with the approach, please help us understand why?

[2016-08-26 19:56] bcherny commented on #14
I have no strong opinions here. @kanreisa if you prefer interfaces to types, feel free to submit a PR and I'll be sure to take a look.

[2016-08-27 19:24] bcherny commented on #14
In the meantime, closing this issue because it's not really an issue.

[2016-08-27 19:24] #14 closed

[2016-08-27 19:25] kanreisa commented on #14
thanks tell me why

[2016-08-27 19:30] bcherny commented on #14
@kanreisa Issues are for concrete bugs or enhancements. What you brought up is a stylistic issue, and is a matter of taste. Again, feel free to put up a PR if your style really does improve on the existing style in some way.

[2016-08-27 19:48] kanreisa commented on #14
In this time, I decided to don't commit. Now I'm understand your policy. please don't care.

[2016-08-29 05:13] bcherny commented on #14
@kanreisa I was cleaning up the code a bit, and realized that using types is indeed more awkward than interfaces. Additionally, the TS spec specifically recommends interfaces over types when possible:

https://github.com/Microsoft/TypeScript/blob/af9dc417478672e05925b2af8b5b5924471bb0f9/doc/spec.md#310-type-aliases

I've updated the code in 728290415101f8da5b1b3226b56420bb5c9e3ede, and released it

[2016-08-31 13:01] simonschllng commented on #3
Until then the error message in `index.ts:98` should be changed from:

          throw new Error("reference must start with #");

to

          throw new Error("external references (outside the json-schema file) are not supported");

[2016-09-03 17:35] bcherny opened #16 "Batch mode for generating interfaces for several JSON-schemas at once"
To avoid generating the same interface twice.

https://github.com/bcherny/json-schema-to-typescript/pull/15#discussion_r77439790

[2016-09-06 07:32] simonschllng opened #17 "title attribute used as type and does not resolve"
I noticed that any property in a json schema which has a title does not get resolved. Instead, the title is used as a type.

Example:

        "users": {
          "type": "array",
          "title": "user id array",
          "description": "Array of authorized user ids.",
          "items": {
            "type": "string"
          }
        }

gets translated to:

    users?: UserIdArray;

which

[2016-09-06 17:50] bcherny commented on #17
This seems like a bug to me. @Speedy37 What was your intention here?

[2016-09-06 19:37] Speedy37 commented on #17
yes it is a bug

[2016-09-06 19:41] Speedy37 commented on #17
it should generate:

[code]

[2016-09-06 20:00] bcherny commented on #17
@Speedy37 Can you take a look when you have a chance? Otherwise I can look later this week. Or if @simonschllng wants to give it a shot, go for it!

[2016-09-06 20:03] #17 closed

[2016-09-06 20:03] bcherny commented on #17
Thanks for the quick response @Speedy37!

[2016-09-09 13:34] simonschllng commented on #17
@bcherny, it still isn't working as of version 1.2.2.

I created a minimal example based on my actual schema:

[code]

This generates:

[code]

[2016-09-09 13:35] simonschllng opened #19 "Documentation: Usage with gulp"
This is how we use json-schema-to-typescript in gulp. Maybe helpful for others, could be added to the docs/wiki.

*gulp task:*
[code]

*file json-to-typings.js*

[code]

[2016-09-09 14:41] bcherny commented on #17
Please upgrade to 2.0.0.

[2016-09-09 14:43] simonschllng commented on #17
2.0.0 did fail on my schema with

[code]

[2016-09-09 15:49] bcherny opened #20 "Make compiler filePath an optional param"

[2016-09-09 16:42] #20 closed

[2016-09-09 16:43] bcherny commented on #20
Published 2.0.1

[2016-09-09 16:45] bcherny commented on #17
@simonschllng Looking at your usage in https://github.com/bcherny/json-schema-to-typescript/issues/19, you're missing the required filePath parameter when calling `compile()`. I've made this parameter optional in https://github.com/bcherny/json-schema-to-typescript/issues/20, and published it as 2.0.1.

If you install the latest and try again it will work fine for your use case.

Ironically, using

[2016-09-09 17:32] simonschllng opened #21 "Enhance tsEnumNames"
There are some points where `tsEnumNames` could be enhanced:

 * JSON is usually `snake_case`. Allow ts_enum_names.
 * JSON Editor uses `enum_titles` for a [similar scenario](https://github.com/jdorn/json-editor#editor-options). Allow both or adopt.
 * Space characters will lead to invalid TS. Sanitize or explain in docs.

[2016-09-09 17:44] bcherny commented on #21
@simonschllng PRs are welcome!

[2016-09-09 21:52] simonschllng opened #22 "Reference fails on schema for unknown reason"
The following test fails for unknown reason: https://github.com/simonschllng/json-schema-to-typescript/commit/0140729000619c8e4090bfc120424489d20076d4

The TS references the schema file name instead of the type:

         [k: string]: any;
       }
       export interface Referencing {
         foo: ExampleSchema;
      -  bar?: geo;
      +  bar?: Geo;
       }

[2016-09-12 00:44] bcherny commented on #22
@jcogilvie Do you know if this is caused by your commit?

[2016-09-12 01:15] jcogilvie commented on #22
Until my commit, we weren't using referenced json files at all, so I think this is probably just additional work on top of mine. Possible it's a bug in the implementation but more likely just a case that wasn't in the test suite and didn't get considered.

[2016-09-12 01:16] bcherny commented on #22
Sounds good - will look into it. Thanks @jcogilvie

[2016-09-12 02:48] bcherny commented on #22
@simonschllng Interface names should be PascalCased - that is TypeScript convention. In your case, you need to PascalCase geo.json to Geo.json.

If there is more interest in preserving casing in the future, we can consider adding an exception for referenced schema names.

[2016-09-12 02:48] #22 closed

[2016-09-12 02:49] bcherny commented on #19
@simonschllng Please feel free to publish that code as a separate gulp-json-schema-to-typescript module. It is outside the scope of json-schema-to-typescript.

[2016-09-12 02:49] #19 closed

[2016-09-12 05:58] simonschllng commented on #22
@bcherny this can only be considered a workaround. If you translate source to destination you can not rely on the source meeting destination's naming conventions. For now I can change it. As soon as you support using http refs, people might like to reference json-schema.org/geo or something else they are not able to rename.

[2016-09-12 17:38] bcherny opened #23 "Support locally referenced schemas with lowercased filename"
See https://github.com/bcherny/json-schema-to-typescript/issues/22

[2016-09-12 17:38] bcherny commented on #22
@simonschllng Good point about network schemas! The reason we automatically change name casing in some cases, is that by convention JSON-Schema property names are lowercased, while TS interface and type names are pascalcased.

We can either (1) always keep original casing, (2) keep original casing just for referenced schemas as a way to keep to convention as much as possible, or (3) also adjust ca

[2016-09-15 18:43] darcyparker commented on #8
I like the idea of providing a decorator to the user or outlining an approach for using one in the readme.

Maybe in [Readme/Not expressible in TypeScript:](https://github.com/bcherny/json-schema-to-typescript#not-expressible-in-typescript) you could advise users to write a decorator such as `@validateJSONSchema(someValidatorMethod)` or use an existing decorator such as [core-decorators#decorate](

[2016-09-15 18:50] darcyparker commented on #8
BTW: For those interested, I thought http://blog.enriched.io/using-json-schema/#usingjsonschemasintypescript provided a nice example of how to build a validator given some JSON Schema.

[2016-09-19 13:02] darcyparker opened #24 "Description with new lines `\n` are not output correctly in typescript comments"
If I have a description like this in my JSON Schema:

[code]

The output typescript definition neglects to comment the new lines too.

It would be great if long term, the description comment could support multiple lines. For the short term, I am simply stripping the new lines out of the JSON schema before I compile it to typescript.

[2016-09-19 15:55] bcherny commented on #24
Not quite a duplicate of, but very similar to https://github.com/bcherny/json-schema-to-typescript/issues/10. Feel free to put up a PR, otherwise I will get to this eventually.

[2016-09-19 17:06] darcyparker commented on #24
See https://github.com/bcherny/json-schema-to-typescript/pull/25

[2016-09-19 20:09] darcyparker commented on #24
Please see new pull request: https://github.com/bcherny/json-schema-to-typescript/pull/26

[2016-09-19 22:44] darcyparker opened #27 "Add test case for `type` = `simpleTypes[]`"
When a type can be multiple simple types but not all types, the resulting interface is not correct.

See https://github.com/bcherny/json-schema-to-typescript/blob/master/dist/index.d.ts#L46
and https://spacetelescope.github.io/understanding-json-schema/reference/type.html

I observed this problem with a larger schema and created this simple test case to demonstrate:

[code]
I haven't had time to i

[2016-09-20 02:52] #27 closed

[2016-09-20 08:12] donaldpipowitch commented on #24
FYI: It would be nice to use `/** */` block comments for VS Code. See https://github.com/bcherny/json-schema-to-typescript/pull/26#discussion_r79550155.

[2016-09-20 13:32] darcyparker commented on #27
Thanks for the quick response!

[2016-09-20 15:14] darcyparker opened #28 "Need `postinstall` script in `package.json` to build `dist/index.js`"
Now that `dist/*` files aren't included in distribution, downstream repos that depend on `json-schema-to-typescript` are failing with
[code]
I think the cause is that https://github.com/bcherny/json-schema-to-typescript/blob/master/package.json#L5 refers to `dist/index.js` and this is not in the repo after `npm install json-schema-to-typescript`.

I speculate this can be resolved by adding `postin

[2016-09-20 15:53] darcyparker commented on #28
FYI: I have a WIP here: https://github.com/darcyparker/json-schema-to-typescript/tree/postInstallBuildDist

[2016-09-20 15:58] bcherny commented on #28
Good catch - I should have tested this instead of assuming it worked as expected.

Fixed in 2.1.2 (ac26a7311e803217e50ccce410261436dd0d39f9).

[2016-09-20 15:58] #28 closed

[2016-09-20 16:14] darcyparker commented on #28
Nice - Thanks.

[2016-09-20 17:32] #24 closed

[2016-09-20 20:03] darcyparker opened #32 "`null | string` is not a valid disjoint type"
I made a mistake in part of the test case requested for https://github.com/bcherny/json-schema-to-typescript/issues/27.

https://github.com/bcherny/json-schema-to-typescript/blob/b6820b568ec1c96aabb216596a0ff08e393c5a89/test/cases/disjoint-type.ts#L19 is not valid.

Unions of other simple types are being handled nicely - thank you again for adding this capability. But I didn't realize until having

[2016-09-20 20:25] bcherny commented on #32
This is not a bug, but a behavior in TS<2.

- In TS<2, void is subtype of all types, and there are no named `null` and `undefined` types
- In TS>=2 in strict null check mode:
  - void is still a subtype of all types
  - `never` is a subtype of all types
  - `null` is a subtype of `any`
  - `undefined` is a subtype of `any` and `void`

At most, we should add a readme note here. Biting my tongue, I

[2016-09-20 20:25] #32 closed

[2016-09-20 20:26] bcherny commented on #32
If you're curious, see https://github.com/Microsoft/TypeScript/pull/7140 and https://github.com/Microsoft/TypeScript/pull/8652 - these have not yet made it into the [language spec](https://github.com/Microsoft/TypeScript/blob/v2.0.0-beta/doc/spec.md).

[2016-09-20 20:48] darcyparker opened #33 "`"type": [ "array" ]` is outputting invalid interface definition"
If you extend https://github.com/bcherny/json-schema-to-typescript/blob/master/test/cases/array-of-type.ts like this:
[code]
Then the output is this:
[code]

`times?: array` should be `times?: Array<string>` or alternatively `times?: string[]`

I think this is connected to `disjoint types` test case.

[2016-09-20 20:50] darcyparker commented on #32
Thanks for the explaination.
I plan to move to 2.0 as soon as I can. In the meantime, `tsc` is logging an error for me. I worked around it on my side by changing the options for the code generator that creates the JSON schema I am inputting.

[2016-09-21 06:15] donaldpipowitch opened #34 "type of enums should not default to string"
See https://github.com/bcherny/json-schema-to-typescript/blob/master/src/index.ts#L251.

As far as I understand the standard it is allowed to create a schema like `{ enum: [ false ] }`. Currently an error is thrown if you use `{ enum: [ false ] }`: `TypeError: Enum was declared as a string type but found at least one non-string member`.

E.g. given

[code]

and

[code]

is valid here: http://www.j

[2016-09-21 06:24] donaldpipowitch opened #35 "Maximum call stack size exceeded"
Try to `compileFromFile` [this schema](https://github.com/webpack/webpack/blob/master/schemas/webpackOptionsSchema.json) throws.

[code]

The webpack schema is quite heavy. Perfect stress test to optimize ;) Note that you have to [delete this enum](https://github.com/webpack/webpack/blob/master/schemas/webpackOptionsSchema.json#L638) because of https://github.com/bcherny/json-schema-to-typescript/

[2016-09-21 19:31] darcyparker commented on #35
An initial guess: https://github.com/bcherny/json-schema-to-typescript/blob/master/src/index.ts#L313 because `merge()` uses `baseClone()`.

* [merge calls baseMergeDeep](https://github.com/lodash/lodash/blob/master/dist/lodash.js#L3562)
* [baseMergeDeep calls baseClone](https://github.com/lodash/lodash/blob/master/dist/lodash.js#L3627) and baseClone() is recursive with a warning about stack limits

[2016-09-21 20:01] donaldpipowitch commented on #35
Yes.

[2016-09-22 12:34] darcyparker opened #39 "Question: `!` applied at end of array property"
This syntax is new to me:
https://github.com/bcherny/json-schema-to-typescript/blob/master/src/index.ts#L260

I see is used frequently in this src, but I don't understand the idiom or syntax and can't find reference to it  in typescript's documentation.

Can you give me some pointers?

Thanks

[2016-09-22 12:49] darcyparker commented on #39
(I can tell it has something to do with the possibility that value is undefined...)

[2016-09-22 16:47] bcherny commented on #39
It's usually a sign that you're doing something wrong.

See https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#non-null-assertion-operator

[2016-09-22 16:47] #39 closed

[2016-09-22 17:52] darcyparker commented on #39
Thanks for the reference. Good to know for when I don't have time to refactor code.

[2016-09-23 10:22] vekexasia commented on #9
I'd also need this. Consider that the current comment positions are not picked by typedoc.

also, I haven't found a way to export the interface.

[2016-09-23 15:42] cawa-93 opened #41 "Why not parse?"
[Source JSON](https://github.com/VKCOM/vk-api-schema/blob/master/objects.json)
**My code**
[code]
**Result:**
[code]

[2016-09-23 16:43] bcherny commented on #9
@vekexasia If you install the latest version, it has (1) vscode-compatible comments, and (2) interfaces that are exported by default. I have not tested with typedoc; if that doesn't work, please file a separate issue or even better, put up a PR.

[2016-09-25 01:56] bcherny commented on #34
Fixed in 3773b2477c7ada189e5e476cf9bb305b320bd150.

I'm not sure that `foo: false` is valid - can you point me to some reference material?

[2016-09-25 01:56] #34 closed

[2016-09-25 02:04] bcherny commented on #33
Fixed in 68f18a8e1ed91f00e7ba9d124986b970cc146967

[2016-09-25 02:04] #33 closed

[2016-09-25 07:13] donaldpipowitch commented on #34
What do you mean? Well you can take the schema and payload given in the first post and try it in an online validator.

[2016-09-26 05:38] bcherny commented on #34
[code]

Entering ^ in the validator you linked says that any value of `foo` is valid.

[2016-09-26 06:17] donaldpipowitch commented on #34
I can't confirm that. For me, it looks like _only_ `false` is valid and everything else is invalid:

![image](https://cloud.githubusercontent.com/assets/1152805/18824331/9323a6e8-83c1-11e6-8437-2888d46952df.png)

![image](https://cloud.githubusercontent.com/assets/1152805/18824338/9fe447ca-83c1-11e6-97ee-1a2d0c823b9b.png)

![image](https://cloud.githubusercontent.com/assets/1152805/18824353/af0b20

[2016-09-26 06:21] bcherny commented on #34
We're talking about different things. In your example above,

[code]

This works as expected.

[code]

This is not valid JSON-Schema.

[2016-09-26 06:22] donaldpipowitch commented on #34
Why not? What is wrong? I can't spot an error.

[2016-09-26 06:26] bcherny commented on #34
Ah, again we're misunderstanding each other. In the 2 code blocks in my comment above, you meant the 1st code block as the schema, the 2nd code block as the json to validate against that schema.

I thought you meant both as json schemas.

If that interpretation is correct, then your issue was fixed in the commit I linked above.

[2016-09-26 06:37] donaldpipowitch commented on #34
Yeah, right. The left one (one the pictures) is the schema, the right one (`{ "foo": false }`) is the input JSON which is validated against the schema :)

[2016-09-27 05:38] bcherny commented on #10
If `description` is set, it will produce a multi-line comment (newlines are supported).
If `title` is set, it will generate a type alias (see https://github.com/bcherny/json-schema-to-typescript/blob/master/test/cases/named-property.ts).

[2016-09-27 05:38] #10 closed

[2016-09-27 12:48] darcyparker commented on #32
FYI: If someone comes across this, I am on typescript 2.0.3 and I can confirm this is no longer an issue.

[2016-09-27 13:12] darcyparker commented on #41
The referenced source JSON has `definitions` but no properties that reference these definitions. See https://github.com/json-schema-org/json-schema-spec/blob/master/schema.json as an example of a schema with definitions that are referenced in the properties.

BTW: I get the same result and `ajv` (https://github.com/epoberezkin/ajv) compiles the following: (Notice the validator always returns `true

[2016-09-27 15:37] darcyparker commented on #35
FYI: I have a test in place that blows the stack. https://github.com/darcyparker/json-schema-to-typescript/commit/db2b30c34fa3fce975c05a0c3b725b51c9dc3e1d

[2016-09-27 17:19] darcyparker commented on #35
Updating link mentioned above because new commits changed the line number: https://github.com/bcherny/json-schema-to-typescript/blob/1aa73177ca6c3d0cf6963f9ff9e42e0ed57668cc/src/index.ts#L274 (This link points to a specific commit's file's line number)

[2016-09-27 19:18] darcyparker commented on #35
A WIP that improves call stack usage is available for review. Please let me know if it helps.

[2016-09-28 05:42] bcherny commented on #35
@donaldpipowitch You're getting a call stack exceeded error because you have a bunch of circular references in your schema

- https://github.com/webpack/webpack/blob/e5ae047334d187b5fe17318fbc5ef58f6e500419/schemas/webpackOptionsSchema.json#L655
- https://github.com/webpack/webpack/blob/e5ae047334d187b5fe17318fbc5ef58f6e500419/schemas/webpackOptionsSchema.json#L706
- https://github.com/webpack/web

[2016-09-28 07:01] donaldpipowitch commented on #35
Thank you both. I'll close this issue than as it is probably a problem with the schema and its circular references.

[2016-09-28 07:04] donaldpipowitch commented on #35
Short question: Is this really a circular reference? Doesn't [this](https://github.com/webpack/webpack/blob/e5ae047334d187b5fe17318fbc5ef58f6e500419/schemas/webpackOptionsSchema.json#L655) point to [this definition](https://github.com/webpack/webpack/blob/e5ae047334d187b5fe17318fbc5ef58f6e500419/schemas/webpackOptionsSchema.json#L101)?

[2016-09-28 08:01] cawa-93 commented on #41
@darcyparker in repository are this file - [schema.json](https://github.com/VKCOM/vk-api-schema/blob/master/schema.json); This can help?

[2016-09-28 14:31] darcyparker commented on #41
@cawa-93 - I may not be understanding your problem...

I compiled the `schema.json` and get the following

[code]

[2016-09-28 15:27] darcyparker commented on #35
Side question: Do you know of a tool that generates a graph of a json schema? (For example something that creates graphml for http://www.yworks.com/products/yed or http://www.cytoscape.org/, or alternatively dot files for http://graphviz.org/ dot) If not, I am thinking this could be an interesting project.  It's one thing to write circular reference detection and give feedback when you walk to a n

[2016-09-28 17:27] bcherny opened #44 "Better support for resolving in-file $refs"

[2016-09-28 17:28] bcherny commented on #35
@donaldpipowitch You're right - I misread the schema. This issue is with resolving local $refs, not with a circular definition. Filed https://github.com/bcherny/json-schema-to-typescript/issues/44

@darcyparker Not off the top of my head, but it would be pretty trivial to write one I think.

[2016-09-28 17:36] bcherny opened #45 "Add ability to format output"
Options:

- https://github.com/prettier/prettier/issues/13
- https://github.com/vvakame/typescript-formatter
- https://github.com/palantir/tslint/issues/561
- https://github.com/nojvek/tslint-fix
- http://clang.llvm.org/docs/ClangFormat.html

[2016-09-28 21:44] #35 closed

[2016-09-29 07:11] cawa-93 commented on #41
@darcyparker, you says:

I suggested that perhaps `schema.json` - this is it.
Unfortunately I am not a developer of the scheme. I just wanted to use it in his TypeScript

[2016-09-29 07:11] #41 closed

[2016-09-29 12:07] darcyparker commented on #41
Good luck with it. I can empathize with the process of transforming the JSON schemas to typescript interface definitions and validators.

I was thinking about your examples a little more. The compiler is doing its job of creating an interface definition in typescript for the JSON schema.  But there could situations where it would useful to have interface definitions for JSON schema definitions tha

[2016-09-29 12:57] darcyparker opened #47 "Case where allOf is not included in compiled ts interface definition"
Have a look at: https://github.com/darcyparker/json-schema-to-typescript/blob/fe3f08f1d7eb4445619488974f9f89b2353b74c7/test/cases/allOf.ts

As a comparison, [dtsgenerator](https://github.com/horiuchi/dtsgenerator) creates this output:

[code]

[2016-09-29 13:08] darcyparker commented on #47
I haven't tested, but a similar test case for `anyOf` should also be tested.

[2016-09-29 15:10] darcyparker opened #48 "Add setting to validate input schema before proceeding with compile"
As a user I sometimes have invalid JSON schema and I would like a debugging option to tell me my schema is invalid so I don't waste time looking for issues in how JSON Schema is compiled to TS interface definition. As well, I want to be confident my JSON schema is valid before filing an issue.

A rough WIP is here: https://github.com/darcyparker/json-schema-to-typescript/tree/validateJSONSchema

A

[2016-09-29 15:14] darcyparker commented on #48
Although I have a rough WIP. I am open to discussing alternatives... and/or the need of this feature.

[2016-09-29 15:46] bcherny commented on #48
Agreed that this is a good idea. Can we use something off the shelf like https://www.npmjs.com/package/json-schema-validation or https://www.npmjs.com/package/json-schema-validator?

Also would be great. This should be as simple as traversing the tree for blacklisted keywords.

[2016-09-29 15:54] bcherny commented on #47
What is expected output? Is it

**1**
[code]

Or

**2**
[code]

Or something else?

[2016-09-29 15:57] darcyparker commented on #48
Thanks for reviewing and suggestion of off the shelf validator. That's better than what I was trying.

[2016-09-29 16:35] darcyparker commented on #47
I don't consider 2 a candidate.

Your candidate *1* is close I think.

Case *3* (is another which I mentioned in first commit... but I know this is wrong)
[code]

Note: *3* agrees with `dtsgenerator`....

However, I played with: http://json-schema-validator.herokuapp.com/index.jsp and discovered some differences in my expectations and what the schema actually defined. In particular: `"additionalPr

[2016-09-29 16:54] bcherny commented on #47
I put it there because `allOf` is not on `properties`, so it probably should not generate any properties. JSON-schema is not well specified; from what I can tell, this is expected behavior, but I'm not sure. Can you dig up any docs one way or another?

This does not seem to be right - it's flattening `more` and `allOf`, and erasing `allOf` in the process.

In general, let's try to refer to the [JS

[2016-09-29 17:01] darcyparker commented on #47
I agree *3* is wrong after playing with things.  *2* is close to correct. And after I modified the schema *4* is probably close to correct.

I agree going through the official examples you mentioned is the next step and derive expected typescript interface definitions that should be expected.

Side note: (I have lots of these cases of `allOf` outside the properties in JSON schema I am working with

[2016-09-29 17:08] darcyparker commented on #47
Do you want help with #1 ? Here's how I am thinking I could help:
* Build a test coverage method that looks at draft 4 tests, and reports if there is a missing test case in `json-schema-to-typescript`
* Start writing expected output for each test case... There's no debate about what valid JSON should be because it is in the test case. But there may be debates on valid transform to TS interface.  S

[2016-09-29 17:11] darcyparker commented on #47
https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/develop/tests/draft4/allOf.json#L5

Notice `allOf` is not on properties... and look at tests.

[2016-10-01 20:57] bcherny commented on #47
Interesting - so it looks like an alternative syntax. Ie.

[code]

Is equivalent to

[code]

And both should compile to

[code]

[2016-10-01 21:00] bcherny commented on #47
If you want, feel free to port the official test cases to a branch in this repo. I added you as a collaborator.

[2016-10-01 22:53] darcyparker commented on #47
Yes, it looks like an alternate syntax. It seems like it is popular pattern in the JSON Schema I have been receiving. The JSON I am receiving is serialized from C# classes... and it looks like the inherited structure of properties are grouped using `allOf`.

Thanks for the invite to be a collaborator. I am happy to take this on.  (I have enjoyed studying the code and watching it iterate the past f

[2016-10-01 22:58] bcherny commented on #47
Good to hear! I'm working on https://github.com/bcherny/json-schema-to-typescript/issues/44 today and tomorrow; specifically-

- making sure $refs are resolved correctly
- making sure circular $refs compile correctly
- making sure $refs are lazily resolved (so a $ref can come before its declaration)

I'll also be refactoring the code a bit. If you can stick to adding test cases till this is done t

[2016-10-01 23:01] darcyparker commented on #47
NP - I will stick to adding the test cases. I won't get to it over the weekend, but will will start early this week.

[2016-10-01 23:06] bcherny commented on #47
Cool - again, thanks for all the help!

[2016-10-03 12:29] darcyparker commented on #45
FYI: I filed a request for option to define `quotemark` for pretty printer here: https://github.com/Microsoft/TypeScript/issues/11320

[2016-10-10 02:19] zengfenfei opened #49 "Fail to resolve remote reference"
When I try to generate typings from swagger schema(https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/schemas/v2.0/schema.json), following error reported:

[code]

[2016-10-10 02:23] bcherny commented on #49
You're missing a forward slash in "http:". If you add it, you'll see a more specific error message that remote refs are not yet supported. PRs are welcome :)

[2016-10-10 02:24] zengfenfei commented on #49
Well, thanks. I'll try to create a PR for this.

[2016-10-12 08:20] rcavalcanti opened #51 "Missing license"
I just realized that this project has no Open Source library which make it not usable in legal terms.

[2016-10-12 12:27] rcavalcanti opened #52 "Types generated with full qualified schema.id url"
Currently the `schema.id` is favored over the `schema.title` when generating the type name.

For instance,
[code]
will generate
[code]

Although it helps to avoid naming collisions, it's very awkward to have types named after URLs.

I would like to suggest one of the two possible improvements:

- swap the `id` and `title` on index.ts:47
[code]
Which will favor the `title` over the `id`. The down s

[2016-10-12 15:36] rcavalcanti commented on #52
Another possible solution is to have it passed in the Settings.

Btw, settings are not available on compileFromFile method, only on compile.

[2016-10-12 17:23] bcherny commented on #52
I like this idea - feel free to put up a PR.

FYI, I am working on a complete rewrite of the compiler to make it easier to work with. Again, feel free to PR if you need this now, and I will merge it.

[2016-10-12 17:23] bcherny commented on #51
https://github.com/bcherny/json-schema-to-typescript/blob/e867001d09d271ce291880c7e2ad0cf36faf4489/package.json#L33

[2016-10-12 17:23] #51 closed

[2016-10-13 18:29] #52 closed

[2016-10-24 03:43] narkowicz opened #56 "Local $ref producing duplicate interfaces for definition when title is set"
Schema using a local '$ref' to a definition in the same JSON document (have not tested against external file $ref's) is producing duplicate Interface statements causing creation of invalid .ts file. This seems to occur when the following conditions are met:
- Definition has a `title` (in these cases the title seems to have no effect on interface name in definitions)
- Definition requires a complex

[2016-10-24 05:08] bcherny commented on #56
Thanks for the report @narkowicz. PRs are welcome - will use your fix in the new architecture.

[2016-10-27 11:59] erykpiast opened #57 "Command line interface"
It would be nice to provide simple command line application within the package. It could be almost equal to one inside `example` directory but allow to specify input and output file. What do you think about that?

[2016-10-30 18:50] bcherny commented on #57
https://github.com/bcherny/json-schema-to-typescript/pull/58

[2016-10-30 18:50] #57 closed

[2016-10-30 18:54] bcherny commented on #57
Published in 3.1.0

[2017-01-06 12:16] enzuguri commented on #9
Hi @bcherny, love the idea of you project. I also have a use case for this which requires this feature.

For projects that may not be on the latest typescript version, or using a different export style it would be necessary to generate the header and footer sections differently, contrast for example different styles/usage of person.d.ts:

[code]
Possible that you might want to move the code "templ

[2017-01-21 12:08] goodmind opened #59 "Support generics"

[2017-01-21 19:09] bcherny commented on #59
This is an interesting idea. I guess there are 2 parts:

1. Inferring that property types are generic - We can either:
  a. Assume that types that begin with a capital letter are generic
  b. Use an explicit JSON-Schema extension, eg. `"genericType": "T"`
  c. Don't special case, and let the consumer handle it (as in your example)
2. Binding concrete types to generic types:
  a. Use an explicit JS

[2017-01-22 12:02] goodmind commented on #59
Explicit is always better than implicit

[2017-01-22 14:04] goodmind commented on #56
Is there any progress?

[2017-01-22 23:41] bcherny commented on #59
Inferring from title is too unstructured for my taste, and makes parts 1 and 2 above asymmetrical. Also, someone might for some reason have "IArg<T, R>" as a title, but not intend it as a generic interface.  I'd go for explicit all the way through (options 1b and 2a). What do you think?

[2017-01-23 05:48] goodmind commented on #59
maybe you are right

[2017-01-29 04:59] java2kus opened #60 "Named enum for string types"
How do I generate named enums for string types.   My JSON Schema looks like below:

[code]
Should generate the following Typescript
[code]
Instead of the above, its generating  the flags without quotes that results in TypeScript error.   Can you please suggest, how can I generate the above typescript code?

[2017-01-29 18:10] java2kus commented on #60
@bcherny Thanks a lot for clarifying.   Coming from a Java programming background, I am trying to wrap my head around Typescript :-).   I guess I cannot solve my specific problem of substitution.   But how I can achieve type safety on passing functions for the above.

e.g.  I am trying to create a function where one of the parameters is status.   Currently I am defining this separately by adding a

[2017-01-31 07:31] goodmind commented on #59
@bcherny Yes, you are right explicit is better here too

[2017-01-31 07:40] bcherny commented on #60
@java2kus I'm not sure I understand what you're trying to do. The code you gave above will compile perfectly, is there something more you're trying to generate?

[2017-01-31 09:26] java2kus commented on #60
@bcherny I was checking if the above code can be generated using json-schema-to-typescript library.   Right now after the code generation, I am manually making all the above changes in my code.

[2017-01-31 17:50] bcherny commented on #60
There is no support for named union types today.

[code]

Will generate

[code]

[2017-02-19 20:26] goodmind opened #61 "TypeScript Public API"
When this pull requests will be available in TypeScript 2.2.1 you will be able to create AST from scratch and generate TS code without string transformations:

https://github.com/Microsoft/TypeScript/pull/13825
https://github.com/Microsoft/TypeScript/pull/13761

[2017-02-19 20:31] goodmind commented on #61
/сс @bcherny

[2017-02-19 21:31] bcherny commented on #61
Thanks @goodmind!

[2017-02-23 01:39] java2kus commented on #60
@bcherny This is how I have manually coded the string based enums in Typescript.   I thought it would be useful for any future code generation enhancements.   I am using Typescript 2.2.

[code]

[2017-02-23 05:50] bcherny commented on #60
@java2kus I don't think that actually works. It tricks the compiler into compiling the enum, but you don't get any type safety with it. What you want is https://github.com/Microsoft/TypeScript/issues/1206, or restructuring your code to use a number enum/union of string literal types.

[code]

[2017-02-28 00:16] RickCarlino opened #62 "Possible to perform batch compilation from CLI?"
Hi,

Thanks for the great library, and sorry if this question has already been answered in the docs (I was not able to find anything as far as I know).

Is it possible to perform batch compilation? For example, with the following directory structure:

[code]

is it possible to create the following output?

[code]
Thanks again for all the great work on this project. It's very much appreciated.

[2017-02-28 00:38] RickCarlino commented on #62
As a side note, I was able to solve the problem using the script below, but am still curious if the CLI supports the functionality natively:

[code]

[2017-02-28 00:45] bcherny commented on #62
Hi @RickCarlino! There is no way to do this today, but feel free to PR this feature. Also see https://github.com/bcherny/json-schema-to-typescript/issues/16.

cc @erykpiast

[2017-02-28 00:45] #62 closed

[2017-02-28 06:01] erykpiast commented on #16
So how the API may look like? `json2ts -i *.json -o ???`. Should we allow to specify some kind of renaming pattern (like `sed` syntax) or just concatenate all interfaces to one `ts` file when output file is specified and create `[orig_name_wo_extension].d.ts` files in case it isn't?

[2017-02-28 06:08] bcherny commented on #16
Glob syntax sounds good to me.

I would separate the work into 2 parts:

- Part 1 (easy) - each input file maps to an output file (user can take care of concating), no optimization (TS takes care of type merging, so duplicates are fine)
- Part 2 (harder) - each input file maps to an output file, common types are pulled out into a common file to avoid duplication

[2017-02-28 07:30] erykpiast commented on #16
I like the split :+1:.

So, for the first step, results would be like
[code]
no matter if `a` `b` or `c` contain different or equal interfaces, right?

How do we want to prevent people from specifying output file for multiple inputs? Just throw an error?

[2017-02-28 07:48] bcherny commented on #16
Exactly. Error or warning is probably fine. I agree error might be better to keep the API as strong as possible.

[2017-03-07 14:55] monolithed commented on #2
@bcherny, is there any way to convert a JSON object as is?

I mean:

[code]

[code]

[code]

[2017-03-07 15:43] bcherny commented on #2
That is outside of jstt's responsibility, though you can probably use something like https://www.npmjs.com/package/generate-schema, and pipe its output into jstt.

[2017-03-07 15:52] monolithed commented on #2
@bcherny, thanks!

[2017-03-07 17:14] monolithed opened #63 "The path param should be optional"
[code]

[code]

[code]

It's because the path param should be optional:

[code]

I guess it's just a typo )

PS: could you export the `JSONSchema` interface?

[2017-03-07 17:55] bcherny commented on #63
PRs are welcome!

[2017-03-07 22:44] monolithed opened #66 "Invalid ouput"
[code]

[code]

`x[0]` is not a valid name. What is expected:

[code]

[2017-03-08 00:20] bcherny commented on #66
What is `scheme` - can you log it out?

[2017-03-08 00:21] bcherny commented on #63
Fixed in 2391463ea6f9d17b85f6e92717e333c386dd0001

[2017-03-08 00:21] #63 closed

[2017-03-08 00:23] bcherny commented on #63
Published 3.1.1

[2017-03-08 00:35] monolithed commented on #66
[code]

[2017-03-08 00:38] bcherny commented on #66
PRs are welcome - the bug is probably on [this line](https://github.com/bcherny/json-schema-to-typescript/blob/83f847594278c386d49c3c75f8052d7c0c9bad9f/src/TsTypes.ts#L165), and we should escape strings containing special characters.

[2017-03-09 11:13] monolithed opened #69 "Do not reset standard constructors"
[code]

[code]

Why do you reset these standard constructors? And how do you build it?

[2017-03-09 16:02] bcherny commented on #69
I see. If this is thrown by the test build (compiled to ES6), this fix is to just set its target to ES5. Otherwise, will look at this tonight.

FWIW, there's a v2 version of jstt (https://github.com/bcherny/json-schema-to-typescript/tree/v2), which is still missing some features, but will be in soon, and improves on the compiler's design significantly.

[2017-03-20 19:48] robertlong commented on #3
I recently found this package and needed external networked references support. I whipped up this script really quick and it seems to do the job for me.

https://gist.github.com/robertlong/3d5f771a992ff9374d64d92c95952674

It uses [json-schema-ref-parser](https://github.com/BigstickCarpet/json-schema-ref-parser) to combine the references into one giant JSON object and then compiles the whole file.

[2017-03-20 19:53] bcherny commented on #3
@robertlong I was actually looking at using that package for json-schema-to-ts v2. Will give using it a shot - building ref resolution from scratch is hairier than it seems.

[2017-03-21 05:20] unional opened #70 "typings to json?"
Thanks for the great work here.

I'm also looking for the opposite of this library. A library that converts typings to json schema.

Do you know of such library exist?

[2017-03-21 05:21] bcherny commented on #70
I do not - what's the use case?

[2017-03-21 05:22] bcherny commented on #69
Fixed in bf9c53e4b6057ae874e9710535c21756d1f51659

[2017-03-21 05:22] #69 closed

[2017-03-21 05:29] unional commented on #70
Creating cli tool that consumes json config file. Want to generate the json schema and publish to schemaStore to support completion in VSCode.

[2017-03-21 05:41] bcherny commented on #70
Ah, that is a good use case. The V2 version of jstt has a decent intermediate representation that could probably be reused for a reverse generator.

If you would like to contribute it to this project, I can comment back here when V2 is out. Otherwise feel free to link you project here and I can add it to the readme!

[2017-03-21 05:41] #70 closed

[2017-03-21 05:52] unional commented on #70
V2? Do you mean V4? your version is currently 3.1.3.... 😛

[2017-03-21 06:48] bcherny commented on #70
Haha not totally consistent on that front. https://github.com/bcherny/json-schema-to-typescript/tree/v2

[2017-03-21 18:34] #66 closed

[2017-03-21 18:37] bcherny commented on #66
Published 3.1.4

[2017-03-29 14:45] wiktor-k commented on #41
Sorry for reviving this old thread but I had the same need - to generate TypeScript interfaces for nested types inside `definitions`. Fortunately it's easy to do with `compile` and some glue code:

[code]

Maybe the example above will be useful for someone.

[2017-04-08 21:04] jefbarn opened #71 "npm release"
Noticed the package version is much higher than npm release.  Any chance for an npm update?
Can't install direct from github because of dist directory.
Thanks!

[2017-04-08 21:17] jefbarn commented on #71
nm, I was looking at the github releases not npm.

[2017-04-08 21:17] #71 closed

[2017-04-10 21:18] utkuturunc commented on #56
Any ideas on how can this be done?

[2017-04-11 17:22] bcherny commented on #56
@utkuturuncThe bug is that we think 1 interface is actually 2. My hunch is it's because the 2 interfaces are given different names in the `this.declarations` hash when we resolve them.

I would look into why we don't recognize the $ref as already resolved on [this line](https://github.com/bcherny/json-schema-to-typescript/blob/cb07ff45bdbc8083e7fa00ba24daef20ec0af0d7/src/index.ts#L169)

[2017-04-11 20:57] utkuturunc commented on #56
I am not really familiar with the code, I am still learning. In the mean time I modified [this](https://github.com/bcherny/json-schema-to-typescript/blob/cb07ff45bdbc8083e7fa00ba24daef20ec0af0d7/src/TsTypes.ts#L186) line to not convert my names to titlecase. Instead I only made it so that it only removes `.` characters in names. Of course this is a specific workaround for a single schema but it ma

[2017-04-19 23:28] bcherny commented on #49
Tracking in https://github.com/bcherny/json-schema-to-typescript/issues/3

[2017-04-19 23:28] #49 closed

[2017-04-20 16:04] alexburner commented on #45
Hi, I happen to be wandering the web looking for a good typescript autoformatter. FWIW I've seen another option that could be added to your list, `clang-format` also supports JS/TS. I haven't fully tested this for myself.

Learned it here https://github.com/Microsoft/vscode/issues/9514#issuecomment-294911838

[2017-04-20 17:16] bcherny commented on #45
@alexburner Added it to the list - thanks! On first impression it looks very powerful. Does it support outputting with no semicolons? I couldn't find an option searching through the docs.

[2017-04-21 21:16] alexburner commented on #45
@bcherny happy to share! I'm afraid I haven't had a chance to dive in yet, was just in the research phase and got pulled into some defect tickets ;) I will be digging further soon, I'll let you know if I run across anything for semicolons.

I can say:
- the angular team appears to use it, and has created a well-maintained npm module: https://github.com/angular/clang-format
- there's a good list of

[2017-04-22 22:13] #3 closed

[2017-04-22 22:13] #56 closed

[2017-04-22 22:15] bcherny commented on #47
Fixed in v2 - please reopen if you have any issues.

[2017-04-22 22:15] #47 closed

[2017-04-22 22:15] bcherny commented on #44
Fixed in 3.0.0

[2017-04-22 22:15] #44 closed

[2017-04-22 23:30] #61 closed

[2017-04-23 00:06] #4 closed

[2017-04-23 02:11] bcherny commented on #23
Fixed as part of 4.0.0 release.

[2017-04-23 02:11] #23 closed

[2017-04-23 02:12] bcherny commented on #22
@simonschllng FYI this is fixed as part of 4.0.0. Sorry about the delay!

[2017-04-23 02:16] bcherny commented on #9
@enzuguri This isn't as simple as a templating engine. I can add the ability to plug in custom generators instead of the [default one](https://github.com/bcherny/json-schema-to-typescript/blob/master/src/generator.ts), but these can be pretty hard to write, and are likely to be a cause more bugs than they solve for most users.

A walker-style generator API with default visitors could make this les

[2017-04-23 19:21] lazutkin opened #73 "Doesn't work under node@4.x"
Latest release use some features that unsupported by node@4.x - ES6 default parameters for instance. So there is an error in attempt to run cli.js

[code]

[2017-04-24 00:59] bcherny commented on #73
Thanks for the bug report. There are a few issues:

1. Program is compiled to ES6, should be ES5
2. Ava only works on Node >= 4.5 (https://github.com/avajs/ava/issues/1354)
3. Object key iteration algorithm changed somewhere between Node 4 and 6, producing different output in some cases. Specifically, the realWorld.swagger test case fails
4. Manually reproducing the error in (3) triggers a circula

[2017-04-24 04:13] bcherny opened #75 "Error compiling schema with reserved words as keys"
[code]

[2017-04-24 04:14] bcherny opened #76 "Error compiling schema with tight cycles"
[code]

Depends on https://github.com/BigstickCarpet/json-schema-ref-parser/issues/37

[2017-04-24 04:17] bcherny opened #77 "Use deterministic object key iteration algorithm"
https://github.com/bcherny/json-schema-to-typescript/blob/85b83eeed9e35f608a46805f9b0877d7fe027d41/test/e2e/realWorld.swagger.ts produces different output on Node 6.9.5 vs. 4.5.0.

[2017-04-24 04:30] bcherny commented on #73
Published as 4.1.2.

[2017-04-24 04:30] #73 closed

[2017-04-24 20:02] #75 closed

[2017-04-24 20:03] bcherny commented on #75
Published 4.1.3.

[2017-04-26 05:02] pyros2097 opened #79 "Cannot run json2ts?"
When I run the command `json2ts`
I get his error,
[code]
My node version is,
[code]

[2017-04-26 06:10] #79 closed

[2017-04-26 06:13] bcherny commented on #79
Published 4.1.5. Thanks for the report!

[2017-04-26 07:58] michahell commented on #21
We use a custom made json-schem to TS script which creates `TitleCasedEnums` with `public static string = 'enumValue'` classes. This lacks actual Enum behaviour but does provide for easy enum accessibility. We were looking into enhancing this with the TS 2.2 `keyof` property.
Right now, we have something like this:

[code]

This would already be a lot better:

[code]

But this would be best:

[cod

[2017-04-26 08:29] michahell opened #80 "keyOf enums + Enum classes"
We use a custom made json-schem to TS script which creates `TitleCasedEnums` classes with `public static string = 'enumValue'` fields. This lacks actual Enum behaviour but *does* provide for easy enum accessibility. We were looking into enhancing this with the TS 2.1 `keyof` property.

Right now, we have something like this:

[code]

This would already be a lot better:

[code]

But this would be b

[2017-04-26 19:06] bcherny commented on #80
Hi @michahell!

Can you help explain the use case for modelling enums as classes? Today jstt supports 2 types of enums:

1. Numerical enums compile to typescript enums
2. String enums compile to typescript string literal union types

What is the advantage of your approach over (2)? What do you think the corresponding JSONSchema should look like?

[2017-04-26 21:47] itslenny opened #81 "cwd option doesn't seem to be working"
When I use the following code
[code]

I get an error that the path for the reference cannot be found and it uses the `process.cwd()` path as the base path instead of what I pass into cwd. I stepped through the code a bit and it seems like it's not being passed into the `dereference()` function. I couldn't track down exactly where that parameter is getting lost.

As a work around I can just do `pro

[2017-04-26 22:18] #81 closed

[2017-04-26 22:19] bcherny commented on #81
Thanks for the report @itslenny! Fix is published in 4.2.0.

[2017-04-28 13:15] michahell commented on #80
hello @bcherny !

The only advantage of my last proposed approach over (2) is that one can specify any of the enums by using static constants, instead of using (what I call) 'magic strings'.

I think that ^ is an improvement because:
1) updating 'magic strings' in your whole codebase is error-prone, whereas using a static const makes this easier and less error prone.
2) IFF you have an editor or I

[2017-04-28 19:24] rogerpadilla opened #82 "Add support for inverse transformation (TS => JSON-Schema)"
Thanks for sharing this cool project!

Have you considered adding support for the inverse transformation (TS => JSON-Schema)?

[2017-04-28 20:58] bcherny commented on #82
Hi @rogerpadilla! There is https://github.com/YousefED/typescript-json-schema, though I guess it should be possible to take advantage of the common AST provided in this package to do the reverse transformation. We would need a TS -> AST parser, and AST -> JsonSchema generator.

PRs are welcome if you'd like to give this a shot!

[2017-04-28 21:00] bcherny commented on #80
Those are both good points! I assume there should be a reverse mapping too (ie. 'black' -> 'BLACK')?

[2017-05-02 13:50] michahell commented on #80
Hmm... Haven't thought about reverse mapping, that could prove useful as well, but not sure how to do that off the top of my head

[2017-05-02 17:24] bcherny commented on #80
@michahell A few notes, looking into this more:

1. It is a bummer that VSCode and other IDEs do not autocomplete union types. This is an enhancement tracked in https://github.com/Microsoft/TypeScript/issues/12891 - feel free to give it a thumbs up.
2. Generating classes (as you proposed) has some unintended consequences, and is too permissive:
<img width="671" alt="screen shot 2017-05-02 at 10 11

[2017-05-02 17:24] #80 closed

[2017-05-02 17:26] bcherny commented on #82
Closing this, and directing anyone that has this use case to https://github.com/YousefED/typescript-json-schema.

[2017-05-02 17:26] #82 closed

[2017-05-03 16:04] michahell commented on #80
Agreed @bcherny! Hadn't looked at the TypeScript roadmap before properly, thanks for investigating!

[2017-05-08 19:37] snytkine opened #83 "Why [k:string]: any"
I just ran the example from the npm documentation page, using same schema object as in documentation but got different result.

This is the result that should be generated according to documentation page on npm

[code]

This is what I am getting ( notice [k:strubg]:any )

[code]
I noticed I can get rid of that extra stuff by adding
"additionalProperties": false to my schema
but that was not part o

[2017-05-09 05:23] #83 closed

[2017-05-09 05:24] bcherny commented on #83
Thanks for the report @snytkine!

[2017-05-10 13:47] ikokostya opened #84 "Add comment with warning about automatically generated file"
Because typescript interface is generated from JSON schema automatically it would be helpful to add comment about this at the beginning of output file, e.g.:

[code]

[2017-05-10 14:07] ikokostya opened #85 "json2ts --help fails with error"
**Versions**
* `json-schema-to-typescript@4.2.1`
* `node v6.10.2`

**Code**

[code]

**Actual behavior**
[code]

**Expected behavior**
No errors.

I think this happen, because `bin` field in `package.json` [refers](https://github.com/bcherny/json-schema-to-typescript/blob/master/package.json#L7) to `dist/src/cli.js`, but `cli.js` [requires](https://github.com/bcherny/json-schema-to-typescript/blob

[2017-05-10 14:17] ikokostya opened #86 "json2ts fails while read from STDIN"
**Version**
* `nodejs v6.10.2`
* `json-schema-to-typescript@4.2.1`

**Code**

[code]

**Expected behavior**
No errors.

Looks like this is problem with strict argument checking in `path` module which was introduced in nodejs 6: https://github.com/nodejs/node/pull/5348

[2017-05-10 18:46] #84 closed

[2017-05-10 18:46] #85 closed

[2017-05-10 18:46] #86 closed

[2017-05-10 18:46] bcherny commented on #84
Published in 4.3.0.

[2017-05-10 18:47] bcherny commented on #86
Thanks for the report @ikokostya! Fix is published in 4.3.0.

[2017-05-10 18:47] bcherny commented on #85
Again, thanks for the report! Fix is also published in 4.3.0.

[2017-05-15 07:34] vatula opened #87 "Typed array is not inspected for a type"
Input
[code]

output
[code]

expected
[code]

[2017-05-15 08:11] #87 closed

[2017-05-15 08:13] bcherny commented on #87
[code]

[2017-05-16 03:11] vatula opened #90 "Named types are not recognized in arrays"
input
[code]

expected:
[code]

actual:
[code]

[2017-05-17 20:11] #90 closed

[2017-05-17 20:13] bcherny commented on #90
Published 4.3.3

[2017-05-24 12:48] ducin opened #92 "json2ts returns empty ts interface for an array json schema"
Following schema is valid, but running it against `json2ts` returns empty result:

[code]

to be precise, it returns only the header comment:

[code]

but the typescript interface itself is missing.

[2017-05-24 13:23] battmanz opened #93 "New option to set additionalProperties to false by default"
According to the spec additionalProperties is true by default, but it would be nice if this library had an option to set the default to false. That way you could avoid having `[k: string]: any` show up all over the place.

[2017-05-24 16:26] bcherny commented on #93
So this would be the first explicit departure from the spec, and so far I have been careful to stick closely to the spec. There would need to be significant interest in this feature to think about adding it.

A few possible implementations come to mind (ordered from worst to best, easiest to hardest):

1. Hardcode the option
2. Add the ability to add custom normalizer steps
3. Pull out normalizati

[2017-05-24 16:49] #92 closed

[2017-05-24 16:49] bcherny commented on #92
Thanks for the report @ducin! Fix is published in 4.4.0.

[2017-05-24 17:48] ducin commented on #92
many thanks for a quick response and successful solution! Works fine now, generates this now:
[code]

[2017-05-24 17:49] bcherny commented on #92
No problem! Will address indentation separately BTW - I wanted to get a solution out first.

[2017-05-24 17:58] ducin opened #94 "multiple schema files into single .d.ts file export"
Is there any way to consume `json2ts` bin file to load multiple schema files and output just a single `.d.ts` file?

I've got many schema files and, of course, I can map them like this: `schema -> .d.ts`, but I'd have to maintain such mapping and consume multiple .d.ts files in my typescript app. I'd prefer to be able to do this:

    $ ./node_modules/.bin/json2ts api/geo/country.schema.json api/g

[2017-05-24 18:00] bcherny commented on #94
Good to have more interest for this - please vote on https://github.com/bcherny/json-schema-to-typescript/issues/16.

[2017-05-24 18:00] #94 closed

[2017-05-24 18:28] ducin commented on #92
indentation is far from must-have ;) thanks again!
PS strange that the repo has 349 stars and nobody fell with this problem before ;)

[2017-05-24 18:31] bcherny commented on #92
The issue was that for anything other than interfaces, IDs were not honored as markers that a type should be declared. Anecdotally, none of my personal use cases have arrays with IDs, and some have titles, which work as expected :)

[2017-05-30 17:26] battmanz opened #95 "Missing properties when using "oneOf" required validation"
Given this schema:

[code]

It produces this result:

[code]

However, if I remove the `oneOf` validation stuff:

[code]

then I get the desired result:

[code]

[2017-05-31 14:24] bcherny commented on #95
@battmanz Thanks for the report, and sorry about the delayed response - I'm currently traveling.

From what I can tell (looking at [this page](https://github.com/json-schema/json-schema/wiki/anyOf,-allOf,-oneOf,-not)), your usage is not correct. You're saying "either properties#thing1, properties#thing2, or properties#thing3 should be defined". But JSON-Schema interprets your schema differently:

[2017-05-31 15:31] battmanz commented on #95
If this [Stack Overflow Answer](https://stackoverflow.com/questions/24023536/json-schema-how-do-i-require-one-field-or-another-or-one-of-two-others-but-no#answer-25637397) is correct, then I would think that my schema is valid. That answer was posted in 2014, is it using an older version of the JSON-schema spec?

I will try your suggestion. That may work too. But if my original schema is valid, th

[2017-05-31 15:34] bcherny commented on #95
I don't think the schema in that answer does what the poster thinks it does, but I could be wrong!

@handrews @Relequestual @Julian Would one of the JSON-Schema experts mind chiming in?

[2017-05-31 22:55] Julian commented on #95
@bcherny properties and oneOf aren't mutually exclusive, the interpretation of the original schema basically is "has to have exactly one of thing1, thing2, thing3, and the value of that has to be a string"

There should be test cases in the test suite that cover this, so if you're not already using it you might consider it :)

[2017-06-01 08:06] bcherny commented on #95
I see, you're talking about [this](https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/67c7b4dc84c783d204e0c3a9324a63f3f7d9444d/tests/draft6/oneOf.json#L38), right @Julian?

Do you think you can point me to where in the spec it talks about the interaction between `oneOf` and base schemas? I'm having trouble finding it.

Looking at [version 0 of the validation spec](https://tools.ietf.or

[2017-06-01 12:54] Relequestual commented on #95
@bcherny The spec doesn't specify this, however each validation key word adds a constriant. I would presume the test against base schema exists just to check that validation is applied correctly in that instance.

You're right to create a sort of order of precedence for your use case. The json schema in the example has multiple validation constraints, which can co-exist. You're trying to create a

[2017-06-01 15:09] bcherny commented on #95
@Relequestual 2 questions:

1. In @battmanz's original example at the top, the 3 schemas listed in the `oneOf` clause don't *implicitly* extend the base schema due to the way JSON-Schema works, do they? If **yes**, where does the spec talk about this? If **no**, absent an explicit `$extends` plus an `id` on the root schema, it's safe to remove the `oneOf` clause from the original example without l

[2017-06-01 15:24] battmanz commented on #93
I don't know which implementation is the right choice, but I would like to give some motivation for this feature. My company has an API that allows searching for people. I can send a JSON object with my search criteria to the API and it will return all people that match. For example:

[code]

The (simplified) schema looks something like:

[code]

My personal preference would be to add `"additional

[2017-06-01 15:27] bcherny commented on #93
@battmanz Isn't that the "future proofing" at work? :)

Joking aside, you may want to bring this up with your committee. Consumers of your JSON-Schema will have the same issue with lack of safety, won't they? This is usually solved with some sort of versioning.

[2017-06-01 15:47] Relequestual commented on #95
@bcherny I apologise in advance as I'm currently sleep deprived due to a recent arrival...

I'm not sure I really understand either of your questions (more the first than the second), but this is probably because of the above.

If I'm understanding the purpose of this library, you create a class type thing which can be used to validate an instance of an object (am I right?).
If so, I'll see if I c

[2017-06-01 16:16] handrews commented on #95
The added constraint thing is briefly mentioned at https://tools.ietf.org/html/draft-wright-json-schema-validation-01#section-4.3
I'm about to head out of town so I'll have to look more deeply into this when I get back later next week.

[2017-06-01 16:24] battmanz commented on #93
@bcherny Ha ha! Agreed!

[2017-06-02 09:00] bcherny commented on #95
@Relequestual Exactly right.

Your explanation and @handrews's link clarified my second question - thanks. I didn't realize that JSON Schema takes an *intersection* of all constraints on a schema, rather than enforcing that just one constraint is defined.

My first question is still open. To give another example, if we have this simplified schema:

[code]

Is this schema correct? I was under the i

[2017-06-02 09:04] bcherny opened #96 "Take intersection of all keywords on JSON-Schema, rather than parsing in one mode"
We currently categorize each JSON-Schema as a specific "type" of schema in [typeOfSchema.ts](https://github.com/bcherny/json-schema-to-typescript/blob/98e1127bc0a6361f10dce73e757191eb668c407d/src/typeOfSchema.ts).

Instead, we should match as many "types" as possible, and compile into an intersection of all of them.

Original issue here: https://github.com/bcherny/json-schema-to-typescript/issues/

[2017-06-02 09:05] bcherny commented on #95
@battmanz Tracking the second issue in https://github.com/bcherny/json-schema-to-typescript/issues/96. I'll try to work on this, but as I'm traveling, no guarantees about getting this in soon. In the meantime, a workaround may be your best option.

[2017-06-05 08:23] Relequestual commented on #95
I think your understanding in your example just given is correct. They are not part of the same schema in terms of validation. If you were the writer of that overall schema, you'd want to do something more like https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.5.7

(also, I'm pretty sure `extends` isn't a thing. It's something we're looking into functionality wise)

[2017-06-05 10:16] bcherny commented on #95
Makes sense - thanks for all the help @relequestual!

@battmanz Closing this issue and tracking remaining work in #96.

[2017-06-05 10:16] #95 closed

[2017-06-07 09:56] harrygr opened #97 "declareReferenced option is ignored"
Since v4.* if `declaredReferenced` is set to `false` the resultant typescript output still includes schemas referenced by `$ref`.

[2017-06-07 14:02] bcherny commented on #97
Hi @harrygr - there is a test covering this behavior [here](https://github.com/bcherny/json-schema-to-typescript/blob/98e1127bc0a6361f10dce73e757191eb668c407d/test/e2e/ref.1.ts).

I'll need a repro case to help diagnose this.

[2017-06-07 16:15] harrygr commented on #97
Hmmm, it seems to only happen in my specific project. Have tried to replicate it in another but can't at the moment. Maybe close this and I'll revisit if I manage to get a repro working

[2017-06-07 16:15] bcherny commented on #97
Sounds good.

[2017-06-07 16:15] #97 closed

[2017-06-15 12:53] tofuseblue opened #98 "Missing properties when using oneOf, allOf"
A variant of closed #95

[code]

Gives output:

[code]

With oneOf

[code]

Output is:

[code]

In the later case the local properties are ignored. I understand that the translation to interfaces is not 100% strait forward but trying out JSON validators like JSON Schema Lint the validator will take the local properties into account which I where expecting.

[2017-06-15 13:29] bcherny commented on #98
Thanks for the report @tofuseblue!

If I'm reading the spec (https://tools.ietf.org/html/draft-wright-json-schema-validation-01#section-4.3) right, this schema says that a valid object should define the keys `(i_ref_first OR i_ref_second) AND localRequired AND MAYBE localOptional`.

For example, these are **valid**:

[code]

[code]

And these are **invalid**:

[code]

[code]

[code]

As usual, it

[2017-06-15 14:10] tofuseblue commented on #98
Yes, your are quite right. You interpret the specification in the same way as I and the problem is covered by #96. Sorry for not seeing that before I filed this one.
Just to make sure though when using references. You wrote below example as valid.
{
  i_ref_first:...
  localRequired: ...
}
I would interpret the specification for a reference to use the identifier as key so it would be.
{
 file: ...

[2017-06-22 07:46] grantila opened #100 "If options are provided, all must be set"
Contrary to what the README says (*"all keys are optional"*), all keys are required if an options object is provided. This is highly cumbersome (even though the `DEFAULT_OPTIONS` is exported).

This is fixed in #99.

[2017-06-23 15:57] #100 closed

[2017-06-23 15:59] #93 closed

[2017-06-23 16:00] bcherny commented on #98
Tracking in #96.

[2017-06-23 16:00] #98 closed

[2017-07-12 18:00] arosequist opened #103 "declareReferenced option doesn't work if the reference isn't a URI"
[This](https://github.com/arosequist/json-schema-to-typescript/compare/master...arosequist:declare-referenced-bug?diff=unified&name=declare-referenced-bug#diff-d2ee835d7d6308692fb6c1d10afe49cc) is a modified version of `test/e2e/ref.1.ts`. The second test (with `declareReferenced: false`) fails, because `InlineReference` is still being included in the output.

Is this behavior expected, or is it a

[2017-07-12 19:05] bcherny commented on #103
You are correct - it should be called `declareExternalReferenced`. What is the expected behavior for your use case?

[2017-07-13 02:54] aparna-sath opened #104 "Typenames of NAMED_ENUM schemas should be derived from title when present"
[code]
This should generate a typescript enum called GenderType, rather than Gender.

[2017-07-13 04:35] bcherny commented on #104
PRs are welcome!

[2017-07-13 23:12] bcherny commented on #104
Fixed in f9c8624.

[code]

[2017-07-13 23:12] #104 closed

[2017-07-14 15:15] arosequist commented on #103
Based on the name and docs, I just expected this parameter to determine if schemas referenced via `$ref` would be declared, regardless of where that referenced schema lives.

[2017-07-14 18:35] bcherny commented on #103
Looking through the code more, here's what's going on:

There are 3 reasons an interface/type will be declared as a separate schema (not as part of the main schema): (1) it has a `title`, (2) it has an `id`, (3) it is a subschema. Interfaces always fall into (2), and sometimes into (1) and (3) as well - this is ensured in the normalization phase, before parsing and ref resolution.

`declareReferen

[2017-07-14 19:39] bcherny commented on #103
@arosequist It was actually easier than expected. When you have a chance, try this branch and let me know if it's what you expected - https://github.com/bcherny/json-schema-to-typescript/tree/103.

From playing around with it a bit, I think I'm in favor of renaming `declareReferenced` to `declareExternallyReferenced`. I'm having trouble thinking of a use case where you wouldn't want to declare int

[2017-07-20 20:13] bcherny commented on #103
@arosequist Can you take a look?

[2017-07-21 14:35] arosequist commented on #103
Yeah, that seems to fix it!

Our use case is probably an odd one -- we loop through all the `definitions` in a schema object and run `json-schema-to-typescript` on them, which causes duplicates. We loop through them because there are a couple of use cases where we want some slightly different output, so we skip `json-schema-to-typescript` and do our own processing on those. [1]

Since that's proba

[2017-07-21 20:57] #103 closed

[2017-07-21 20:58] bcherny commented on #103
Out of curiosity, what's your use case for only looping through `definitions`?

[2017-07-29 13:10] andreineculau opened #107 "doesn't work when $ref has an id"
this should work

[code]

but it doesn't - json-schema-to-typescript will try to read a file called "foo", despite having a reference to a schema with id "foo"

[2017-07-29 15:22] andreineculau commented on #107
`foo-bar` as id doesn't work either. not even `foo1`

[2017-07-29 17:07] andreineculau opened #108 "npm run build:server cannot be run twice"
you're not excluding your dist folder in tsconfig.json

[2017-07-29 17:07] andreineculau opened #109 "cli cannot resolve path"
`json2ts -i /tmp/foo` fails because it prepends cwd to `/tmp/foo`

[2017-07-29 17:11] bcherny commented on #108
Hi @andreineculau. You need to run `npm run clean` before rebuilding. I recommend running `npm run build`, which will do that for you.

[2017-07-29 17:11] #108 closed

[2017-07-29 17:17] #109 closed

[2017-07-29 17:18] bcherny commented on #109
[code]

[2017-07-29 17:27] bcherny commented on #107
Hi @andreineculau. That is not a valid usage of `$ref`. What you want is:

[code]

The issue is unrelated to the one you linked, and is simply how the JSONPointer and JSONSchema specs define $refs. If a $ref doesn't begin with `#`, it indicates a pointer to an external file (rather than a pointer to somewhere else in the current schema). See the ref.abc tests [here](https://github.com/bcherny/json

[2017-07-29 17:27] #107 closed

[2017-07-29 17:34] andreineculau opened #110 "recursive loop -> json-schema-to-typescript crash"
[code]

[2017-07-29 17:37] bcherny commented on #110
Tracked in https://github.com/bcherny/json-schema-to-typescript/issues/76, and dependsd on https://github.com/BigstickCarpet/json-schema-ref-parser/issues/37.

[2017-07-29 17:37] #110 closed

[2017-07-29 17:44] andreineculau commented on #110
*GENERAL FEEDBACK* don't take this the wrong way, but I would suggest you reconsider your coding style to break down function calls. It was a pain getting to the bottom of this.

in https://github.com/bcherny/json-schema-to-typescript/blob/master/src/index.ts#L81
[code]

is a much harder (to debug primarily, but also to read and comprehend) version of

[code]

same can be said about

* https://git

[2017-07-29 17:50] bcherny commented on #110
@andreineculau Consider using a debugger like https://nodejs.org/api/debugger.html, https://github.com/node-inspector/node-inspector, or https://github.com/s-a/iron-node.

I prefer a functional style without intermediate variables - it makes it more clear what is used, by what, and in what sequence.

Of course it is a matter of taste, and you are more than welcome to fork this lib and rewrite it i

[2017-07-29 18:20] andreineculau commented on #110
@bcherny if you think this is a matter of taste and style, we're unfortunately talking past each other as no tool will improve what I pointed out. A breakpoint can only be set on **one** line, in a UI or with a `debugger` statement. Anyways, suit yourself.

[2017-07-29 18:35] andreineculau commented on #108
`npm run clean` deletes the dist folder...
So you build, clean, build, clean, build, clean...
I wonder why I didn't think of that.

[2017-07-29 18:53] andreineculau commented on #107
Well, fwiw that was not the case for JSON Schema v4, and that's what I have specified in my local schema's `$schema` value (missing from the example in this issue).

https://tools.ietf.org/html/draft-zyp-json-schema-04#section-7.2.3

[2017-07-29 19:17] bcherny commented on #107
Read more carefully:

Don't rely on inline dereferencing.

[2017-08-02 08:15] alesandroLang commented on #5
Hi Boris,

Do you accept PR's on that topic?

[2017-08-02 16:22] bcherny commented on #5
@alesandroLang PRs are always welcome. See [contributing.md](https://github.com/bcherny/json-schema-to-typescript/blob/master/CONTRIBUTING.md) for helpful tips.

[2017-08-03 07:55] alesandroLang commented on #5
there it is #111

[2017-08-07 19:39] bcherny commented on #5
Fixed in ec62911

[2017-08-07 19:39] #5 closed

[2017-08-25 18:02] christophercliff opened #113 "Make internal functions public"
Thanks for putting this library together. For my use case, I used your parser and AST and wrote my own formatter. For cases like these it would be useful if these internal functions were made public so they follow semver and have basic documentation and typings.

It might also cut down on API thrashing related to formatting options because users can use whatever formatting they prefer.

[2017-08-28 16:15] bcherny commented on #113
Hi @christophercliff - Can you be more specific? Which functions in particular would be useful to expose?

Out of curiosity what was the different between your formatter's output and the default output?

[2017-08-28 16:45] christophercliff commented on #113
My usage looks like:

[code]

`myFormatter()` outputs a single type with everything inline (no declarations, exports, or interface reuse). This made it easier to inline the type definitions in my existing code generator. I also removed the styling and just run the output through [prettier](https://github.com/prettier/prettier).

[2017-08-28 17:04] bcherny commented on #113
I didn't realize Prettier supports TypeScript - Seems like a great candidate for https://github.com/bcherny/json-schema-to-typescript/issues/45.

[2017-08-28 17:07] bcherny commented on #113
That said, these internal functions can already be consumed (like you did in your example). Exporting them from the index would make it look like they should be consumed directly, when they are not meant to be, at least for most use cases.

I'll close this issue for now. If there's more interest in the future (meaning the use case is not a niche one), we can revisit this.

[2017-08-28 17:07] #113 closed

[2017-09-14 21:22] dgreene1 commented on #96
Thank you for your hard work. :) I just wanted to note that I am also noticing this phenomenon where the use of "allOf" prevents the "properties" from coming through. Is there a workaround or a timeline as to when that will be resolved?

[2017-09-15 03:19] bcherny commented on #96
@dgreene1 Thanks! There is no timeline, it's on the backburner for me. Feel free to take a stab at it if you're interested.

As a workaround, you could:

1. Move your properties to a definition
2. Add a reference to that definition to your `allOf` clause (which compiles to an intersection)

[2017-09-27 19:10] malbertSC opened #115 "Single-property $ref converting to array"
example:

object that references a single property
[code]
single property reference
[code]
I end up with this interface after conversion
[code]
but I feel like I should be getting
[code]
Is there any way I can specify that this property is NOT an array?  The id $ref is reused all over the place for the minLength and maxLength attributes and I'd rather not copy this into all the id fields
[code]

[2017-09-27 19:25] #115 closed

[2017-09-27 19:26] bcherny commented on #115
Thanks for the bug report @malbertSC! This is fixed in `json-schema-to-typescript@4.6.4`.

[2017-09-29 22:04] masaeedu opened #116 "Handle naming collisions"
Currently the converter dumps primitive types (created due to nillability, unions, arrays, etc.) into a list of `export type` statements at the top of the generated definition file.

The problem is that none of the types are namespaced, so when running json2ts on a large JSON schema file with lots of type definitions, common properties like `Username` will end up creating lots of duplicate `export

[2017-09-30 02:54] bcherny commented on #116
Good catch @masaeedu.

A couple of fixes come to mind:

1. Apply a collision avoidance algorithm to names that are already used (eg. `Foo`, `Foo1, `Foo2`, etc.)
2. Namespace all types referenced from a schema

(2) has the advantage of not mutating the original type, and its namespacing has the advantage of making it clear where a type came from (though to be fair, "find usages" does that too). How

[2017-10-01 00:27] masaeedu commented on #116
@bcherny Thanks for looking into this. My ideal solution would be to just inline all of these types and not have them at all. Is this not viable?

[2017-10-01 00:29] bcherny opened #117 "Add flag to inline all referenced types"
See https://github.com/bcherny/json-schema-to-typescript/issues/116#issuecomment-333345004

[2017-10-01 00:30] masaeedu commented on #116
Approach (1) would be fine I suppose, it's just a little confusing to have these numbered types without the consumer understanding what the numbers mean. Re: namespacing conflicts; if you namespace using every type down from the root, wouldn't that eliminate all conflicts unless there's duplicate definitions in the schema?

[2017-10-01 01:12] masaeedu opened #118 "Consider using snapshot feature in ava for testing"
I notice you have some custom test harness stuff where you reading modules, diffing, reporting diffs, etc. `ava` has built in support for [snapshot testing](https://github.com/avajs/ava#snapshot-testing), which could make it easier to write and update snapshot-based tests.

[2017-10-01 18:44] bcherny opened #119 "Namespace referenced schemas"
A. `A -> C, B -> C` (schemas `A` and `B` both reference the schema `C`)
  - give top level schemas `A` and `B`, the namespaced schema `A.C`, and an alias `B.C = A.C`

B. `A -> C, B -> C'` (schema `A` references a schema `C`, and schema `B` references a different schema `C` that happens to have the same name)
  - give top level schemas `A` and `B`, and the namespaced schemas `A.C` and `B.C`

C. `A

[2017-10-01 18:46] bcherny commented on #116
That would be a feature on top of the fix for the legitimate bug you found. I've created an issue for it: https://github.com/bcherny/json-schema-to-typescript/issues/117.

I agree completely.

Two or more JSON-References might point to the same JSON-Schema. Depending on the order in which the root JSON-Schema is traversed, the type will be given a different namespace. For example if schema A refer

[2017-10-03 01:29] azaslavsky opened #120 "Support for draft-06"
The official draft-06 of JSON Schema is out.  Given the scope of what's describable in Typescript, I think the changes needed to support it would be fairly minor (just `const`, empty `required` arrays, and boolean schemas as far as I can tell from a quick glance).

[2017-10-03 01:30] azaslavsky commented on #120
Oops, realized it might be helpful to leave a link: http://json-schema.org/draft-06/json-schema-migration-faq.html

[2017-10-03 23:40] #116 closed

[2017-10-03 23:41] bcherny commented on #116
`+ json-schema-to-typescript@4.6.5`

[2017-10-04 01:24] #7 closed

[2017-10-09 13:57] respinha-ribeiro opened #121 "Unable to generate .d.ts file from apparently correct JSON file"
Hello.

I have generated a JSON from a protobuf file using [protobuf-schema](https://github.com/devongovett/protobuf-jsonschema). When I introduce the file content in http://json2ts.com/, I get a correct .d.ts file. However, using json-schema-to-typescript directly, I am unable to obtain so.

My JSON file:
[code]

Output in http://json2ts.com/:
[code]
Output using json-schema-to-typescript (`json2

[2017-10-10 00:02] bcherny commented on #121
Hi @respinha-ribeiro! I haven't look at protobuf-schema or JSON2TS, but it appears to interpret your schema more optimistically than JSON-Schema-to-TypeScript does.

What the "definitions" property means is "here are a few things that might be used in my schema". Along with $ref, it's a way to factor out common definitions.

What you're looking for is "properties", which means "here are a few thin

[2017-10-10 00:02] #121 closed

[2017-10-12 14:10] KurtPreston opened #122 "CWD option doesn't work on recursive refs"
When the `cwd` option is provided, it seems that it only sets the working path for the first file it encounters... if any of those refs themselves contain refs, those are currently being resolved as relative to their directory, rather than relative to the cwd.

So, that's a really confusing explanation, so here's an example.  Say I have three files:

**/project/a/a.json**

[code]

**/project/b/b.j

[2017-10-12 18:44] bcherny commented on #122
Pinging @BigstickCarpet - is this possible to do with json-schema-ref-parser?

See our usage here: https://github.com/bcherny/json-schema-to-typescript/blob/dd00eddf0162fe0058c71b4ad96ff76f4c4ab831/src/resolver.ts#L9.

[2017-10-12 19:21] BigstickCarpet commented on #122
Per [the JSON References Spec](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03#section-4),  `$ref`s are relative to the current document, _not_ the root directory.

[2017-10-12 19:28] bcherny commented on #122
Thanks for chiming in @BigstickCarpet. The spec is pretty clear about it, sorry @KurtPreston.

[2017-10-12 19:28] #122 closed

[2017-10-12 19:57] KurtPreston commented on #122
Makes sense, fair 'nuff.  Thanks for the prompt reply, all!

As an aside though, it does seem like the `cwd` option in general violates the spec, no?  The working directory should *always* be the JSON file's directory, and you shouldn't be able to compile `b.json` in the example above.

[2017-10-12 23:00] bcherny commented on #122
@KurtPreston `cwd` is exposed in case you're doing something weird. eg. if you npm installed jstt, `cwd` won't point to the right directory.

[2017-10-13 03:27] KurtPreston commented on #122
@bcherny Cool, thanks for the clarification. Got it all working with relative paths instead.

[2017-10-23 01:33] ritz078 opened #123 "Support for flow"
I guess this library is well equipped to support flow too. The syntax is very much similar.

[2017-10-23 04:26] bcherny commented on #123
Hi @ritz078! This might be possible if we compile to [Babylon's AST](https://github.com/babel/babylon) instead of our own custom one, and use something like [Babel Generator](https://github.com/babel/babel/tree/master/packages/babel-generator) to generate code from that. Today we use a custom AST, and a custom codegen.

It's a good idea to move to more standard tools, that way we don't have to dea

[2017-10-23 04:29] ritz078 commented on #123
Totally get that. Thanks for this awesome package. I have added this on https://transform.now.sh . I might look into the code when I have time. :)

[2017-10-23 04:35] bcherny commented on #123
https://transform.now.sh looks really cool, thanks for the plug!

[2017-10-23 05:32] robertmassaioli opened #124 "Inspect Pattern Properties just for recursive definitions."
I just want to make it initially clear: I'm not looking for you to generate code for patternProperties.

However, pattern properties do reference definitions that would be good to generate samples for. For example, in swagger we have the following definition:

      "paths": {
        "type": "object",
        "description": "Relative paths to the individual endpoints. They must be relative to the

[2017-10-23 12:00] Marclev78 opened #125 "Union types have no type tags"
Given a schema that defines two "shapes" of data, such as this example where one valid shape has `customerName`, and the other valid shape has `customerTitle, customerFirstName, customerLastName`:

[code]

json-schema-to-typescript will generate a union type:

[code]

However this union type does not include any tags as per (https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#tag

[2017-10-23 16:11] Marclev78 commented on #125
Self-closing this as it requires a bit more thought...

[2017-10-23 16:11] #125 closed

[2017-10-23 17:17] bcherny commented on #124
Hi @robertmassaioli!

[code]

For the record, the problem with this interface is it permits assigning a `VendorExtension` to a key that matches `^/`, and a `PathItem` to a key that matches `^x-` (both of which are invalid according to the JSON-Schema). It would also allow assigning either a `VendorExtension` or a `PathItem` to a key that matches neither `^/` nor `^x-` (eg. the key `foo`), which is

[2017-10-30 23:56] lukeautry commented on #84
It would actually be nice to prevent these comments from being added through a setting. Depending on your usage, you may get interfaces being annotated with this warning message that you don't really want sticking around.

[2017-10-31 00:00] bcherny commented on #84
@lukeautry Can you tell me a little more about your use case. Is it a one-time conversion, that you don't want to keep in sync?

[2017-10-31 00:33] lukeautry commented on #84
Sure - I have a custom json file generated by the server that contains json schemas for a bunch of different interfaces. Using your library, we convert those to TypeScript interfaces that can be used in client side code. Given that we plan to distribute a library with typings shipped and these generated interfaces included, we don't want the autogenerated warning to ship with those.

[2017-10-31 00:37] bcherny opened #126 "Add option to disable "This interface was autogenerated..." comment"
See https://github.com/bcherny/json-schema-to-typescript/issues/84#issuecomment-340624944

[2017-10-31 00:38] bcherny commented on #84
That sounds like a reasonable request. I'm tracking it in https://github.com/bcherny/json-schema-to-typescript/issues/126 - PRs are welcome!

[2017-11-10 07:35] #45 closed

[2017-11-10 07:35] #118 closed

[2017-11-10 13:14] jefbarn opened #127 "Format options not being used"
Awesome idea to use Prettier,
there's a bug where the style options aren't being used through...

https://github.com/bcherny/json-schema-to-typescript/blob/bad2bfc678ce4a9db3a56ffecb32b82833d1b050/src/index.ts#L83-L86

options aren't being passed to the format function

[2017-11-10 17:59] adamduren opened #128 "FR: Support for types of native JavaScript objects such as Date, Regex, etc"
Is there a way to specify a value that is an object other than the standard JSON schema types such as a Date? The `ajv` JSON Schema Validator added keywords such as `instanceof` in order to support this so you might have a schema such as
[code]

that would output to:

[code]

If there is not a way do you have a general idea for the difficulty of implementing such feature and if it would be a welco

[2017-11-10 19:25] #127 closed

[2017-11-10 19:27] bcherny commented on #127
That's what happens when you don't add tests huh... Thanks for noticing this so quickly @jefbarn.

Published 5.0.1.

[2017-11-10 19:31] bcherny commented on #128
@adamduren This would fall under https://github.com/bcherny/json-schema-to-typescript/issues/2. I haven't thought much about what an extensions API would look like, since there are a few steps involved: parsing, optimization, code emission.

[2017-11-10 19:31] #128 closed

[2017-11-10 19:32] bcherny commented on #128
If you want to look through the code and take a shot at specing out an API, go for it.

[2017-11-11 14:02] dekryptic opened #129 "Generating patternProperties Objects"
Is this schema:
[code]
not supposed to generate a Child interface? I tested it out on https://bcherny.github.io/json-schema-to-typescript-browser/ and it only returned a Parent interface, i.e.
[code]

If not, is there any way to force json-schema-to-typescript to generate an interface for ALL objects, regardless of whether or not a specific portion of the JSON Schema specification can be supported

[2017-11-11 16:26] bcherny commented on #129
Hi @dekryptic! What exactly would you expect the output to be in this case?

[2017-11-11 16:43] dekryptic commented on #129
Would something like this:
[code]
be reasonable?

[2017-11-11 20:12] bcherny commented on #129
I see. I believe this is a duplicate of https://github.com/bcherny/json-schema-to-typescript/issues/124. Feel free to reopen if you feel otherwise.

[2017-11-11 20:12] #129 closed

[2017-11-14 03:53] bcherny opened #130 "Investigate using source maps to map json-schemas to their generated typings"

[2017-11-14 04:19] #124 closed

[2017-11-14 04:20] bcherny commented on #124
@robertmassaioli @dekryptic Try out json-schema-to-typescript@5.1.0 and let me know what you think!

[2017-11-14 09:16] ikokostya opened #131 "Add option for generate interface with readonly properties"
**The problem**

I want to generate interface for object which must not be changed. I can manually wrap result using `DeepReadonly` type:

[code]
but it doesn't work with arrays:
* https://github.com/Microsoft/TypeScript/issues/10725
* https://github.com/Microsoft/TypeScript/issues/13923

**Suggestion**

Add some option to `json-schema-to-typescript` for generating readonly properties. For example

[2017-11-14 09:29] robertmassaioli commented on #124
I will! Exciting! 😄

[2017-11-14 18:00] bcherny commented on #131
That's a really great idea @ikokostya! We might get requests to split it into two settings at some point (readOnlyProperties via readonly keyword, readOnlyValues via Readonly<> or ReadonlyArray<> types) - what do you think of splitting it that way?

Anyway, PRs are welcome!

[2017-11-16 12:17] dherges opened #132 "Improve output for top level $ref"
A `$ref` breaks when used on the root object

##  Example A

Non-working example:

[code]

Error message will be:

[code]

It will log:

[code]

I wonder where the `$ref: '#'` comes from?

### Example B

Working but with duplicated interface

[code]

Generated code is:

[code]

[2017-11-16 16:57] bcherny commented on #132
Thanks for the reports @dherges.

@BigstickCarpet Is Example A kosher?

[2017-11-16 17:00] bcherny commented on #132
@dherges Can you post the complete JSON-Schema for Example B? From what you gave it's not clear to me why the output is incorrect.

[2017-11-16 20:25] dherges commented on #132
Hi @bcherny,

thanks for the response and your time! Here are the full repros.

### Example A

[code]

Error message:

[code]

### Example B

[code]

[code]

I could live by that output as it's somewhat _'okay'_ due to duck typing in TypeScript world, but I wonder why two interfaces are being generated?!?

[2017-11-16 20:32] dherges commented on #132
I found two working version by setting `$ref: '.'` and `$ref: '#'` in the `properties.children.items`:

[code]

[code]

---

[code]

[code]

[2017-11-17 17:15] BigstickCarpet commented on #132
@bcherny - Example A in [@dherges' post](https://github.com/bcherny/json-schema-to-typescript/issues/132#issuecomment-345051884) isn't supported by json-schema-ref-parser.  It's technically not a valid JSON Schema, since a JSON Reference object is _only_ allowed to have a `$ref` property (any other property are ignored, per [the spec](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03#sectio

[2017-11-17 18:46] bcherny commented on #132
@BigstickCarpet As always, thanks for chiming in.

@dherges You heard it here, Example A is invalid. For example B, nicer output might be:

[code]

Is that what you had in mind?

[2017-11-28 20:49] bcherny commented on #132
@dherges Can you chime in?

[2017-11-28 21:37] dherges commented on #132
Yes, exactly!

[2017-11-30 21:31] sebastien-de-saint-florent opened #133 "Sub-schemas generation"
Hi,

I'm working on a project where JSON Schemas can have sub-schemas in "definitions" property. Some of those schemas are not directly referenced by the root schema but I still need to obtain their Typescript interface.

[code]
In the example above, I would like "A" to be included in the result.

Do you think it's possible? I can contribute to the repo if you can show me the right place to add th

[2017-12-03 19:05] bcherny commented on #133
Hi @sebastien-de-saint-florent! See https://github.com/bcherny/json-schema-to-typescript/issues/121#issuecomment-335321458 - does that sound reasonable to you? If I were you, I would pull out the definition into its own JSON-Schema. Otherwise, it's not clear if the definition is used or not, and how it's used.

[2017-12-06 21:13] sebastien-de-saint-florent commented on #133
Hi @bcherny,
Thanks for your response. I don't think it's a good solution for me. The use case I'm trying address is really when the schema is used as a storage for multiple schemas (like it's done for an Open Api document for instance).
The workaround I've found is to generate each subschemas separately. But it doesn't work well with schemas that are referenced locally. It creates duplicates.

[2017-12-11 17:54] #133 closed

[2017-12-11 18:02] bcherny commented on #133
Hey @sebastien-de-saint-florent - give v5.2.0 a try. Note that you will need to enable the `unreachableDefinitions` option. Let me know if this fixes your issue!

[2017-12-11 19:58] sebastien-de-saint-florent commented on #133
Thank you @bcherny, it is working perfectly.

[2017-12-13 16:39] dekryptic opened #134 "Errors when compiling /example with latest packages"
With this package.json under example/:
[code]

I'm getting these errors:
[code]

[2017-12-13 17:13] #134 closed

[2017-12-13 17:17] bcherny commented on #134
Thanks for the report @dekryptic!

Fix is published in `+ json-schema-to-typescript@5.2.1`

[2017-12-13 17:40] dekryptic commented on #134
5.2.2 worked for me, while 5.2.1 didn't.

Can you explain how you fixed the issue? I'm rather new to Typescript and just want to learn.

[2017-12-14 02:20] bcherny commented on #134
So the actual fix was in 5.2.2 - 5.2.1 was a red herring.

The thing is, TypeScript requires that all `import`s have [corresponding typings](https://www.typescriptlang.org/docs/handbook/modules.html). We install those typings by running `npm install @types/abc`, replacing `abc` with the package name.

JSON-Schema-to-TS depends on the `json-schema` and `prettier` packages, and also installs typings

[2017-12-20 21:06] TyOverby opened #135 "Maximum Call Size Exceeded"
While attempting to compile the following file, I get the a crash with the text "Maximum Call Size Exceeded".  For whatever reason I don't get a call stack.

https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json

[2017-12-21 02:57] bcherny commented on #135
Thanks for the report @TyOverby! Can you try to whittle this down to a minimal reproducible case? My hunch is it's a bug with the $ref resolver.

[2017-12-22 00:50] TyOverby commented on #135
Unfortunately, the size *is* the repro.  I tried trimming it down, but because of how interconnected everything is, it's basically all or nothing.

I turned DEBUG logging on, and it makes it all the way through downloading / resolving and (I think) parsing.  My guess would be emit.

[2017-12-26 01:21] bcherny commented on #135
Confirmed that there is a cycle in some union/intersection type that the generator isn't handling:

[code]

I'll try to continue this investigation this week. @TyOverby Any trimming down of the bad test case you can manage would be immensely helpful.

[2017-12-27 22:03] mikepatrick commented on #135
Hi there, I saw the "help wanted" tag so I took a look at this.

The bulk of the file in question consists of the long list of schemas in the `oneOf` under `resourceBase`.  Two of these schemas in particular seem to be problematic.

- `Microsoft.DataFactory.json#/resourceDefinitions/factories` and
- `Microsoft.DataFactory.json#/resourceDefinitions/factories_pipelines`

both cause my compilation to

[2017-12-27 22:33] bcherny commented on #135
@mikepatrick Thanks for digging into this! As a next step, it would be really helpful to try and figure out what exactly the cycle is that JSTT is choking on. Once we can figure out what the cycle is, we can create a minimal reproducible test case and handle the cycle wherever it's not getting handled currently.

[2018-01-09 23:15] xavdid opened #137 "Support for One large file?"
Hey there! We've got a big exported schema that is structured roughly like this (but with many more schemas):

[code]

The full version is available [here](https://github.com/zapier/zapier-platform-schema/blob/master/exported-schema.json)

I realize this might be a slightly unorthodox arrangement, but I believe it's valid. I'm getting an error about the `$refs`:

[code]
Is there some configuration

[2018-01-10 06:08] bcherny commented on #137
Hi @xavdid! This is unfortunately not a valid JSON-Schema, which is why you get an error (there is an [open issue](https://github.com/bcherny/json-schema-to-typescript/issues/48)) to add schema validation.

If you rename `"schemas"` to `"definitions"` and remove `"version"` and compile with the `unreachableDefinitions` flag set to `true`, this should compile fine.

Let me know if that's unclear!

[2018-01-10 06:08] #137 closed

[2018-01-12 00:07] xavdid commented on #137
Appreciate the response @bcherny but I wasn't able to get it working - I'm still seeing the same error. I'm running a tiny script (with `node genDefs.js`) and the updated file you described (only a top-level `"definitions"` key):

[code]

Is the issue related to the `$ref` having a leading slash? When I remove it, the error is slightly different:

[code]

instead of
[code]

I can arrange the schem

[2018-01-12 00:26] bcherny commented on #137
@xavdid Sorry, I didn't notice your $ref syntax. You want to use this pattern:

Before: `"$ref": "/VersionSchema"
After: `"$ref": "#/definitions/VersionSchema"`

When in doubt, take a look at the [tests](https://github.com/bcherny/json-schema-to-typescript/blob/master/test/e2e/ref.2.ts). :)

Does that fix your issue?

[2018-01-12 03:08] xavdid commented on #137
@bcherny that did, awesome!

There's a weird thing with identical interfaces being declared (`Thing`, `Thing1`, `Thing2`, etc) but I'll dig through other issues and see if it's a big deal before bothering you with it.

Thanks a ton!

[2018-01-13 01:10] tomekp commented on #16
I expect a little different behavior:
I want to be able to generate multiple `*.ts` files, one for each defined interface (from each schema). So if some type would be generated many times it would just overwrite the same file.

It seems I'd need to add a function to generator that returns a dictionary like `{"file name for type": "file content"}` (+ change all `declareXxx` functions to return an a

[2018-01-13 17:29] bcherny commented on #16
@tomekp I'm not convinced that approach is better. Ostensibly if someone has already taken the trouble to put, say, definitions A B and C in schema X and D E and F in schema Y, for their case this is a natural way to modularize and group their schemas. So when we generate TypeScript code from those schemas, it seems natural to put schemas A B and C in X.d.ts and D E and F in Y.d.ts.

If a user wan

[2018-01-16 08:59] ducin opened #139 "dependent project - readme update"
Hi @bcherny, thanks for your great work!

I started a new project that uses `json-schema-to-typescript` along with RAML (RESTful API Modelling Language). It's called [`raml-to-typescript`](https://github.com/ducin/raml-to-typescript). It extracts all RAML types (let it be JSON Schema itself or RAML-defined types that have the same semantics/structure as JSON Schema) and uses your lib to generate T

[2018-01-16 09:01] ducin opened #140 "docs: 'bannerComment' option missing"
According to the [source](https://github.com/bcherny/json-schema-to-typescript/blob/master/src/index.ts#L17-L24), there are 6 options you can pas to the option bag.

In the [readme.md docs](https://github.com/bcherny/json-schema-to-typescript#options) there are only 5, `bannerComment` is missing.

[2018-01-16 17:19] #126 closed

[2018-01-16 17:19] #139 closed

[2018-01-16 17:19] #140 closed

[2018-01-16 17:20] bcherny commented on #139
Sure thing!

[2018-01-16 17:20] bcherny commented on #140
Thanks for the suggestion @ducin - I added it to the docs.

[2018-01-16 17:21] bcherny commented on #126
Feel free to pass the `bannerComment=""` option to do this.

[2018-01-16 18:21] ducin commented on #139
Wow, that was fast, thanks!

16.01.2018 18:21 "Boris Cherny" <notifications@github.com> napisał(a):

[2018-01-17 02:27] AndyDBell opened #141 "Schema $ref to standalone type results in generation of type in generated typescript interface."
I am not sure whether this is a configuration problem, expected behaviour or a bug but...

I declare a json schema file _id.schema.json_ containing:
[code]
Running _json-schema-to-typescript.compileFromFile( id.schema.json )_ generates:
[code]

I create a second json schema file _example.schema.json_ referencing _id.schema.json_ and containing:

[code]

Running _json-schema-to-typescript.compileFr

[2018-01-17 02:43] bcherny commented on #141
Hi @AndyDBell! You can avoid declaring externally referenced types by setting the `declareExternallyReferenced` option to `false`. In the future, you'll be able to use [batch mode](https://github.com/bcherny/json-schema-to-typescript/issues/16) to generate a set of typings at once with automatic deduping.

Let me know if that works for your use case!

[2018-01-17 03:07] AndyDBell commented on #141
Hi Boris,

Thanks for your response.

I have tried setting _declareExternallyReferenced_ to false in the compileFromFile options but the output did not change!

This is my options object:

[code]

The generated typescript is the same as with _declareExternallyReferenced_ set to true.

[2018-01-17 04:23] bcherny commented on #141
Hmm could you upload a self-contained repro case? This does seem like a bug. In the meantime, generating multiple copies of a type should be fine - TypeScript will merge them for you as best it can.

[2018-01-17 06:03] AndyDBell commented on #141
Zipped self contained repro code shared on onedrive at https://1drv.ms/u/s!ArpiIInQBexRhZY9b-gSPf3z1QxXTQ.
Note - included everything including node_modules, dist etc.  Editor is vscode.

[2018-01-17 06:34] bcherny commented on #141
Thanks for the repro case @AndyDBell.

What's happening here is that `declareExternallyReferenced` isn't working as expected for primitive types (as opposed to interfaces).

I maintain this project in my spare time, and won't have time to fix this soon. Sorry about the inconvenience. Also, contributions are welcome!

In the meantime, you have 3 options for workarounds: (1) remove the type alias fr

[2018-01-17 21:08] AndyDBell commented on #141
Hi Boris,

Understood.  I thought that the problem was as you described and tried to trace through your code to find a solution but it got a bit complex.

Thanks for creating this project in your spare time.  We are flat out on our own project but, if I find a spare moment, I will try to look further into this problem for you.

We intend to use our json schema to generate mongoose schema, swagger

[2018-01-30 06:41] xavdid opened #142 "Separate pointers to the same schema generate duplicate types"
Hello! I was working through our (seeming non-standard) case and I found an unexpected result.

We've got a [TriggerSchema](https://github.com/zapier/zapier-platform-schema/blob/master/docs/build/schema.md#triggerschema) and a [CreateSchema](https://github.com/zapier/zapier-platform-schema/blob/master/docs/build/schema.md#createschema) that both have a reference to the [BasicDisplaySchema](https:/

[2018-01-30 06:44] bcherny commented on #142
Hi @xavdid! Thanks for the suggestion. This is already tracked in #132 (and enhanced in #119). If you'd like to take a shot at fixing this, PRs are welcome!

[2018-01-30 06:44] #142 closed

[2018-01-30 08:47] xavdid commented on #142
Ah, perfect! I'll look through those and see if I can't get something rolling. Though, it being against spec certainly puts a damper on it. I've got a lot of control over the source json though, so I can probably adapt it to be compliant.

Thanks a bunch for your patience here!

[2018-02-01 14:25] ducin opened #143 "discrepancy between an internal and external references resolution (`$ref`)"
Hi @bcherny,

Once again, thanks for your great work!

I'm having a strange situation, might be considered as a bug, or a feature... depends on your interpretation. For me it's kinda inconsistent.

I have a `scenario.schema.json` file where I define an entity, it has internal sub-definitions (used for money, enums, etc.). It looks like the following:
[code]

I have another file which is just a col

[2018-02-02 05:01] bcherny commented on #143
Hi @ducin! This does look like a bug to me. I won't have time to look at it in the near future, but am happy to look over any PRs you send over.

[2018-02-15 08:53] bytesnz commented on #16
This is a kind of related idea. I was just looking at using this and z-schema for the schemas/typings in one of my projects. I think it is handy to support passing schemas as an array to `compile` so that $refs can be supported between the schemas given in the array. The functionality would be the same as passing the multiple files to `json2ts` I would think, apart from outputting a single string.

[2018-02-15 20:16] victorandree opened #146 "Enums $refd from items are not included in output"
Version: 5.3.3

Example:

[code]

Output:
[code]

[2018-02-15 23:05] victorandree commented on #120
I think this looks like a worthwhile thing to do. Going over the table, here's what I see should be done:

**bold** changes require code updates, *italic* require doc changes (to express that this is not expressible in TS).

change | consequence
:- | :-
"id" replaced by "$id" | **should still support "id" for schema naming**
"$id" replaces "id" | **should support (prefer over "id") for schema nami

[2018-02-16 15:26] donabrams commented on #120
I started on this (and will be finishing it in the next few weeks once it gets reprioritized): https://github.com/donabrams/json-schema-to-typescript

I have some non-general requirements (like exposing a constant for each enumeration) that I'm not sure would be good to mainline, but I can try and keep those separate.

[2018-02-16 18:41] victorandree commented on #120
I started a branch yesterday according to my own comment: https://github.com/victorandree/json-schema-to-typescript/tree/feat-draft-06

@donabrams Curious what you mean by "like exposing a constant for each enumeration" -- I just treated them like a single-member enum. With just `const`, you get an inline constant. If you provide a name for the type, you get a constant type alias. With `tsEnumName

[2018-03-02 12:13] eweap commented on #16
@bytesnz @bcherny  You can take a look to my fork (https://github.com/eweap/json-schema-to-typescript/tree/compile-dir)

I think i have partially achieved the part 1 of the solution.

I made these modifications urgently in order to be able to use the concatenated output in our projects. But I think it's a good start.

I have not made a pull request at the moment for lack of time and because I stru

[2018-03-14 07:05] bcherny opened #149 "Auto-name unnamed enums"
From https://github.com/bcherny/json-schema-to-typescript/pull/147:

If you don't provide an explicit title for an enum defined in `items`, the type will have no name so the generator crashes (in `generateType` because `let type = generateType(ast.params, options)` is `undefined`). It's not obvious what an autogenerated enum name should be (it can't be inferred from the property name). Example:

[

[2018-03-14 07:10] #146 closed

[2018-03-15 21:40] bytesnz commented on #16
How do you put multiple schemas in a single file?

Buffering out my previous comment, I am currently building schema and interfaces for a svg drawing project I am working on and wanted the documentation, type checking and typescript definitions to be done through json-schemas, using json-schema-to-typescript, z-schema. My idea was to have all the schemas in a folder/file hierarchy in a structure t

[2018-03-16 14:44] Kallikrein opened #150 "Tuple items are not referenced properly when they have a "title" property"
No title
===

[code]

Outputs

[code]

Title
===

[code]

Outputs

[code]

I have the same bug with "$ref", local or remote definitions.

[2018-03-20 08:38] Rovanion opened #151 "Dealing with objects that have titles beginning with a number"
Given the following json schema:
[code]

json-schema-to-typescript will produce the following error:

[code]

Would it be possible to modify json-schema-to-typescript to perhaps prefix these types so that they become legal TS identifiers/names?

[2018-03-20 15:17] bcherny commented on #151
Sure! What do you think would be better output? Let’s decide on what the output should be in this issue, then feel free to update it here (with a test please): https://github.com/bcherny/json-schema-to-typescript/blob/master/src/utils.ts#L59

[2018-03-21 00:10] vsund opened #152 "Use of `allOf` makes some properties disappear"
First of all, big thanks for this library!

I'm not sure whether I misunderstood what I do or this tool produces wrong output. But somehow it's not doing what I expected :D

I have the two schemas from below. `Person.json` should take all rules from `Person.json` and add a `name` property.
If I throw them into `json2ts` I get the following output
[code]
While this is in theory correct (`[k: string

[2018-03-21 02:53] bcherny commented on #152
Hi @vsund! This is probably a symptom of https://github.com/bcherny/json-schema-to-typescript/issues/96. What happens when you update your schema like this:

[code]

[2018-03-21 13:17] vsund commented on #152
Wow, that was quick ;) Saw that issue, but somehow I wasn't able to connect it to my problem.

Your suggestion gives me a
[code]

which works like a charm. Will go with this until #96 is resolved.

I guess now it makes sense why it's a type literal. I believe you cannot link two interfaces?

[2018-03-21 15:26] Rovanion commented on #151
I'm not sure what the best output would be. I prefixed my maps with A just because it made sense to have A 3D model. I know that tslint balked at _ prefixes because it wanted all names to be camelCase.

[2018-03-21 15:35] bcherny commented on #152
It’s mostly a stylistic choice, because sometimes unnamed schemas are declared inline and sometimes we pull them out. If you want an interface, define an “id” property on Person’s schema.

[2018-03-21 15:35] #152 closed

[2018-03-22 14:46] dcolthorp opened #153 "Feature Request: Option to disable `[k: string]: any` without validating that additional keys are not present"
I'd like to propose the addition of an additional command-line argument to suppress the emission of `[k: string]: any` index signatures for object types which do not constraint the presence of additional properties.

TypeScript users always have the option of casting to `any` to access additional fields that are not specified by the type. However, objects with `[k: string]: any` are pretty unsafe

[2018-03-22 19:18] bcherny commented on #153
Hi @dcolthorp! I don't think this is something we want to built in unless there is significant demand for the feature. In the meantime, I would pass your schema through `sed` or something to remove instances of `additionalProperties: true` before it makes it to json-schema-to-typescript. You might also want to consider explicitly versioning your API + schema, which is the more common way of dealin

[2018-03-22 19:18] #153 closed

[2018-03-22 19:19] bcherny commented on #150
We should make sure to emit aliased types for tuple members. Thanks for the bug report @Kallikrein!

[2018-03-25 12:00] vsund opened #154 "Re-use generated interfaces for $ref in allOf"
Hey,

I tried to externalize some complex properties from my main schema `Person.json` to use the (sub) interfaces separately in the code.
For example my `Person.json` schema has an `account` property and I put the schema from this into `components/Account.json`.

It would be cool to re-use the declared interfaces for these types. E.g.
[code]

For all the used schemas etc see below. Please note th

[2018-03-25 18:47] bcherny commented on #154
Hi @vsund! We use the presence of the `id` property as a heuristic for whether or not to pull out a subschema into its own `type` alias. Try adding `id` to Account.json's schema.

You might run into an issue where we generate the linked schema twice - let me know what the result is!

[2018-03-25 20:33] vsund commented on #154
Thanks for the help! Indeed generated twice:

#### `Person.json`
[code]

The same `AccountJson` interface is is also in `components/Account.json`. Anything I could/should do about this?

[2018-03-25 20:46] bcherny commented on #154
This is a known issue https://github.com/bcherny/json-schema-to-typescript/issues/16. You could avoid compiling Account.json for now, or you could send a PR for the issue :)

In either case this shouldn't affect anything -- TS will merge the two `AccountJson` declarations for you automatically, so while the output is ugly, it works well.

[2018-03-25 20:46] #154 closed

[2018-03-25 20:53] vsund commented on #154
Yeah, it's basically only the ugly output. But since I don't commit these files I think it's ok :)

Thanks for all the help! ;)

[2018-03-26 10:57] igor-savin-ht opened #155 "Option to always prefer specified name"
Currently if JSON Schema has _title_ field defined, it always takes precedence over name that was passed by user to the _compile_ method. Sometimes it is preferable to ignore name from title and be able to specify one yourself.

[2018-03-29 15:54] joseSantacruz commented on #59
Any update on this new feature would be great to have and also add conditionals types

[2018-03-29 17:01] bcherny commented on #59
@joseSantacruz What’s your use case for generic and conditional types in JSON-Schema?

[2018-03-29 21:49] vsund opened #156 "Add option to cache generated interfaces"
Hey,

I made this part of my build process to make sure that the interfaces are in sync with the schema (which by the way works great).
Unfortunately this takes some additional seconds every build. Since these schemas don't really change often it would be cool to have an option to cache generated interfaces (e.g. only generate interfaces when the timestamp on the schema file changed (similar to `m

[2018-04-04 06:41] thejuan opened #157 "allOf with additional required fields doesn't make them required"
You should be able to specify a reference to a type and a set of required fields using allOf.
At the moment the specified required fields are not required in the typescript (i.e. generated wtih a ? on the property)

[code]

In above postalCode should be marked as required, but it's not ATM
https://stackoverflow.com/questions/41958392/extending-ref-with-additional-required-fields

[2018-04-04 18:48] bcherny commented on #157
@handrews @schani Do you know if this is kosher - `{ required: [ 'postalCode' ] }` should make `postalCode` required in `{ $ref: 'location' }`?

[2018-04-04 18:50] bcherny commented on #155
What's your use case? You can always pre-process your JSON Schema before passing it to JSON-Schema-To-TS.

[2018-04-04 18:54] bcherny commented on #156
This is a really cool idea! I wonder if we could use a more general utility for caching. Something like:

[code]

One implementation of something like this: https://bitbucket.org/sivann/runcached/src

If you can make a standalone package for this, I'd love to add it to the docs as the recommended way of using the CLI! What do you think?

[2018-04-04 18:57] schani commented on #157
Yes, that is correct.  This is also a bug in quicktype that I just discovered ;-)

[2018-04-04 19:14] bcherny commented on #157
Related: https://github.com/bcherny/json-schema-to-typescript/issues/96

[2018-04-04 20:30] igor-savin-ht commented on #155
@bcherny Basically there is a specific naming pattern that we want to use (prefix "I" and suffix "Model"). Preprocessing JSON Schema is how we handle this currently, but this looks more like a hack than a proper solution, and it requires to either clone or mutate all of your schemas, which is not particularly elegant either.

[2018-04-04 22:29] bcherny commented on #155
The thing is, filename taking precedence over title will only work for top level schemas, but not referenced schemas or subschemas. For those, you'll still need the pre-process step.

Perhaps there's a way to make the preprocessing more elegant with `sed` or something?

[2018-04-04 23:05] thejuan commented on #157
I work around this by pre-processing the schemas with
https://github.com/bojand/json-schema-deref
and
https://github.com/mokkabonna/json-schema-merge-allof?files=1

[2018-04-05 12:11] vsund commented on #156
I'm pretty sure that I could solve this with a few lines of Bash (I currently don't have the capacity for bringing this up as a standalone side project).
But though I think I'd like this more to be a part of `json2ts` itself. It's not much logic and could be as simple as activating/deactivating it with `--[no]cache`.

Due to https://github.com/bcherny/json-schema-to-typescript/issues/16 my call to

[2018-04-10 07:05] chauey opened #158 "How to generate all for OpenApi schema? Use JSONSchema4 instead?"
I tried to paste in the OpenApi schema from https://github.com/Mermade/swagger2openapi/blob/master/schemas/openapi-3.0.json, but it does not generate classes for objects deeper in the graph. Is it related to "oneOf"? Advice? Thanks!

[2018-04-10 07:28] chauey commented on #158
oh perhaps I need "unreachableDefinitions"

[2018-04-11 03:06] bcherny commented on #158
Hi @chauey - I'm not sure what your question is. Could you clarify?

[2018-04-11 05:47] chauey commented on #158
In the end, was mainly curious if should use JSON schema interfaces generated (the OpenApi schema has the "JSON schema" schema in there at "#/definitions/Schema") or use the JSONSChema4 classes from @types/json-schema? common question?

Also, this outputs interfaces instead of classes or interfaces AND classes right? no option to output classes (so we can add some implementation details)

Thanks!

[2018-04-11 06:02] bcherny commented on #158
@chauey Without knowing why that particular schema was included under `definitions`, and without knowing what exactly you're using it for, it's hard to make a specific suggestion.

JSTT produces interfaces, not classes, because JSON-Schema models shapes, not concrete implementations of those shapes. You can implement the generated interfaces if you want:

[code]

Hope that helps!

[2018-04-11 06:02] #158 closed

[2018-04-23 19:40] skyrimjob commented on #151
I am also having this issue, is there a current work around?

[2018-05-04 15:14] henkesn opened #159 "Renamed types on consecutive UPPERCASE chars"
Hi guys, first of all, thank you for your great work!
I just noticed an unexpected behaviour with the converter.

When having type names with several uppercase chars in a row, in the result get lowercased. Only the first character remains capital.

Example:

[code]
leads to
[code]
the originally named ExampleDTO is generated as interface ExampleDto.

I think that should be fixed as this could also

[2018-05-04 18:57] bcherny commented on #159
Hi @henkesn! There's actually a TODO in the code for just that! If you'd like to PR this feature:

1. Update this function: https://github.com/bcherny/json-schema-to-typescript/blob/91679020eebba58198ba0f5d5c59e6c3e953c4be/src/utils.ts#L55
2. Be sure to add some E2E tests

[2018-05-05 17:36] bcherny opened #160 "Improve output for unions of patternProperties"
See https://github.com/bcherny/json-schema-to-typescript/pull/144#discussion_r167442887

cc @qix

[2018-05-05 17:37] bcherny opened #161 "Improve schema name inference in generated patternProperties docblock"
See https://github.com/bcherny/json-schema-to-typescript/pull/144#discussion_r186267763

cc @qix

[2018-05-05 17:59] bcherny commented on #21
@vaskevich I'm not sure JSON-Schema supports that. If you can point to where in the spec it does support it, we can add support in JSTT as well.

[2018-05-07 00:03] cchalm opened #162 "Trivial schema fails typescript compiler"
Compiling this program...

[code]

...produces this error:

[code]

I was sure I was doing something wrong, but I came up empty after a couple hours of investigation, and now I'm not sure. This module produces typescript interfaces from jsonschemas, so I assumed the module itself would play nice with typescript. Is that not true?

[2018-05-07 00:27] cchalm commented on #162
Since luck is cruel, I believe I figured this out a couple minutes after posting. The type of the value assigned to the property called "type" in the object literal mySchema is inferred to be "string". The string literal is "string", which satisfies the type `"string" | "number" ...`, but the inferred type "string" is too broad to be assigned to the more restrictive actual type. So I just need to

[2018-05-07 00:27] #162 closed

[2018-05-08 05:13] TheLarkInn opened #164 "`"instanceof": "Function"` inside "anyOf" getting converted to `[k: string]: any`"
Before:

[code]

converts (i believe improperly to):

[code]

I identified this throughout this PR for webpack/webpack#7232

[2018-05-08 14:12] TheLarkInn commented on #164
Wow TIL! Thank you for this information! Totally understandable given the constraints.

[2018-05-08 14:13] TheLarkInn commented on #164
I would be awesome to support it but maybe an integration into this system (plugin also) could be a good step. I'll look into this a bit.

[2018-05-14 15:23] adamduren opened #165 "declareExternallyReferenced does not work when referencing a definition that uses allOf"
See repo for easy reproduction:
https://github.com/adamduren/json-schema-to-typescript-output-bug

**From README.md:**

When using `allOf` the `declareExternallyReferenced` option appears to be ignored.

To recreate:

[code]

`generate-interfaces.js` generates interfaces for both `correct.json` and `incorrect.json`.

Both files are the same except for the objects that they externally reference.

`

[2018-06-06 15:00] dweinstein opened #166 "description conversion to comments may break if not escaped"
[code]

Because the description is directly converted to a javascript comment inside a `/** */` the `*/` in the JSON description causes an early termination of the comment and breaks the conversion, causing an error like:

[code]

[2018-06-09 16:27] bcherny commented on #2
@TheLarkInn Sorry about the delayed response. If you want a plugin system that can add support for/override handling of a particular JSONSchema node type, you'd have to add support for that node type at a few layers:

- Adding an [AST node type](https://github.com/bcherny/json-schema-to-typescript/blob/master/src/types/AST.ts)
- Adding it to the [JSON-Schema type](https://github.com/bcherny/json-s

[2018-06-17 13:53] Leeingnyo commented on #16
Hi, Please see following example.

`Album.schema.json`
[code]

Above one converts to below now (I editted something manually).

`Album.d.ts`
[code]

I suggest this form.

`Album.d.ts`
[code]

Traversing AST one depth only, generate ECMAScript module import statements for type dependency.
We can reuse types.

[2018-06-27 03:05] thejuan opened #167 "Conditionally required fields (using anyOf) generates almost empty type"
Using the below schema to get conditionally required fields based on state

[code]
I get the following type which is missing all the fields?

[code]

[2018-06-27 03:07] thejuan commented on #167
I would have expected something more like

[code]

[2018-07-20 00:34] ddurschlag6river opened #169 "Dependency support"
This is listed as not possible in typescript, but it is. I don't fully understand how the AST is used, so I don't have a PR ready, but here's a couple examples of property implication (i.e. one property implies the presence of another) in TS:

[code]

[playground](http://www.typescriptlang.org/play/#src=type%20abc%20%3D%20%7B%0D%0A%20%20%20%20a%3F%3A%20string%3B%0D%0A%20%20%20%20b%3F%3A%20boolean%

[2018-07-20 02:08] ddurschlag6river commented on #169
An even simpler definition, based on [P ⇒ Q ⇔ ¬P ∨ Q](https://en.wikipedia.org/wiki/Material_implication_(rule_of_inference)) :
[code]

[2018-08-01 04:25] DoubleCouponDay opened #170 "json2ts CLI program hangs if no parameters are given"
json-schema-to-typescript version: 5.5.0

[2018-08-02 14:10] hansl commented on #170
According to the help:

[code]

So it doesn't hang, it's waiting for STDIN. There could be a timeout since no one would expect people to _type_ JSON Schema.

[2018-08-03 10:09] StAn187 commented on #93
Sorry to comment on the dead issue but I had the same requirement.

Here's a patch how it could be implemented. It adds a cli/compiler option `additionalProperties=[true|false]`:

    Index: src/cli.ts
    IDEA additional info:
    Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
    <+>UTF-8
    ===================================================================
    --- src/cli.ts	(date

[2018-08-14 14:59] sledorze opened #171 "Escape '/*' '*/' in comments"
This is sometimes used in comments to refer to some Paths and make Prettier fail, resulting in a log message and an empty file.
It would be very handy to be able to escape those.

ex: `*/foo` becoming `*\/foo`

[2018-08-15 23:51] Lange commented on #16
I'd quite like this feature and would be willing to contribute to a cash bounty for it. If there are others also interested in contributing to a cash bounty, perhaps we can make this worth someone's time to implement.

[2018-08-16 17:25] stuartlong opened #172 "bannerComment only accepts 1 comment"
I'm trying to generate a banner comment that looks something like this
[code]

However, passing that as the bannerComment option only outputs the first line:
[code]

It seems like the option only takes in the first comment, be it a single line or a block, and discards the rest. The entire argument should simply be prepended to the output.

Other variations I tried:

[code]

[code]

[2018-08-20 16:53] qm3ster commented on #172
Related but unrelated, the default banner comment is interpreted as part of the annotation the the first type.
![image](https://user-images.githubusercontent.com/10551234/44354440-85c1ba80-a4b2-11e8-8390-864edb0edc8c.png)
Perhaps it shouldn't be a JSDoc-style block to begin with.

[2018-08-20 17:09] qm3ster opened #175 "Extract core into a separate package"
That would get rid of `stdin`, `cli-color` and `minimist` at least.
Ideally, `prettier` and the filesystem concerns (`compileFromFile`) would also be excluded.

[2018-08-20 17:28] qm3ster opened #176 "Adding anything to empty property makes it `Record<string,any>` instead of `any`"
[code]
produces
[code]
but
[code]
immediately produces
[code]
Imo, things that don't affect validation should not change the type output?

[2018-08-20 17:30] qm3ster commented on #170
@hansl You never know. What about copy-pasting some?

[2018-08-21 15:39] qm3ster commented on #176
Have you considered changing `SCHEMA_TYPE` to be a TS Enum?

[2018-08-21 15:44] qm3ster commented on #176
I don't believe that is a complete fix.
Can you quickly bring me up to speed on the necessity and behavior of `'NAMED_SCHEMA'` and `'UNNAMED_SCHEMA'` as opposed to an `'ANY'` ?

[2018-08-21 17:08] qm3ster opened #177 "Stick to one lockfile"
`package-lock.json` is newer than `yarn.lock`.
Perhaps one of them should be deleted from the repo and added to `.gitignore`.
Also consider using `pnpm` (else, sticking its `shrinkwrap.yaml` into `.gitignore` as well.)

[2018-08-22 01:07] qm3ster commented on #176
Please see #178 for a refactor that is meant to support future changes such as this one.

[2018-08-23 21:28] qm3ster commented on #167
## Warning: this will break your actual validation :warning:

Finally, to get rid of that `[k: string]: any;`, we need to set `"additionalProperties": false` in ALL parts of the object:
[code]
[code]
[code]
To forbid `summary` outside `State3`, we have to remove it from the outer object:
[code]
[code]
[code]
Unfortunately, this isn't actually correct usage of JSONSchema, and nothing will pass, sin

[2018-08-23 21:33] qm3ster commented on #167
@thejuan Of course, in the meantime, you can just duplicate all properties in all options, and end up with this:
[code]
[code]
Which both typechecks and validates perfectly.

[2018-08-23 21:44] qm3ster commented on #156
@vsund Is there any requirement that you use the cli binary?
I am currently using something like this:
[code]
The reason it uses `import` is because my schemas actually look like this, not JSON
[code]
I haven't solved external `$ref`s yet.

[2018-08-24 00:48] qm3ster opened #179 "Allow passing options to $RefResolver"
I need to pass some [*Custom Resolvers*](https://github.com/BigstickCarpet/json-schema-ref-parser/blob/master/docs/plugins/resolvers.md#custom-resolvers) to the resolver, to handle loading schemas from non-json files.

[2018-08-28 11:55] iwan-aucamp-cs opened #181 "Add option to control type naming."
Currently type names are derived as follow:

[code]

This is not ideal if title is used for other purposes - I would like to rather specify the priority - so for example `--typeNames id,title,definition` should use either id, and if id is not set use title and then finally fall back to definition.

[2018-08-28 14:34] bcherny commented on #181
Hey there! This is a pretty unusual behavior to customize. Could you give more context for why you want a different name resolution algo for your use case?

[2018-08-28 15:06] iwan-aucamp-cs commented on #181
We are using `https://mozilla-services.github.io/react-jsonschema-form/` to generate forms from JSON schema - and this is using title in the output form. This seems to be what title was intended for:

[JSON Schema: interactive and non interactive validation draft-fge-json-schema-validation-00](https://tools.ietf.org/html/draft-fge-json-schema-validation-00)

Using something which is likely to cont

[2018-08-28 16:33] iwan-aucamp-cs opened #182 "Parser throws undefined values"
`parser.ts` does the following for some errors:

[code]

`error` is a function which does not return anything - but just logs:

[code]

As a consequence, when an error does occur the output is rather messy:

[code]

I'm not sure exactly what the intent is here - but it seems like `throw error` should be `throw Error` instead:

[code]

This results in the following output

[code]

[2018-09-01 02:58] #170 closed

[2018-09-07 10:08] ellis opened #183 "Support for `"type": "date-time"`"
Could you please add support for the types `date-time`, `date`,  and `time`?

[2018-09-17 03:43] bcherny commented on #183
That's a great suggestion @ellis! Since these go in the `format` field and don't refer to types, the best we can do is generate type aliases (we can think about making them optionally opaque down the line when TypeScript adds support for nominal types). Something like:

[code]

Contributions are welcome.

If you'd like to take this on:

- The JSON-Schema spec talks about these 3 formats here: http

[2018-09-17 03:48] bcherny commented on #182
Hey @iwan-aucamp-cs! Can you explain a little more what exactly the difference in output is before and after your proposed change? A diff (like you did for the code) would be nice.

`throw error()` is a little strange, but it:
- Lets us have nicely formatted output (debatable, but it looked nice in my terminal when I wrote it a while ago :))
- Terminates the program
- Produces a stack trace

[2018-09-17 03:49] bcherny commented on #177
https://github.com/bcherny/json-schema-to-typescript/commit/3fbdab611388c8fc68eded2d4970eff353096ec2

[2018-09-17 03:49] #177 closed

[2018-09-17 03:54] bcherny commented on #181
@iwan-aucamp-cs That sounds fair to me! Feel free to submit a PR introducing a new option for this, `customName`, which should be a function that takes `(id, title, keyNameFromDefinition)` and returns a string. If that option is passed in, we can use it when computing the name in the  `let name` line.

[2018-09-17 03:56] bcherny commented on #175
We won't be doing this.

[2018-09-17 03:56] #175 closed

[2018-09-17 03:57] bcherny commented on #171
@sledorze That's a great idea! The best place to do this is in a new [normalizer rule](https://github.com/bcherny/json-schema-to-typescript/blob/master/src/normalizer.ts).

[2018-09-17 06:33] monolithed opened #185 "SyntaxError: Cannot set a numeric title"
[code]

[code]

[2018-09-17 06:50] bcherny commented on #185
Hey there @monolithed! We can either throw, or be smarter about how to name the generated type. Any thoughts about how you'd go about picking a name for the type?

[2018-09-17 08:19] monolithed commented on #185
@bcherny You could probably use the title property on the top level:

[code]

[2018-09-17 15:23] iwan-aucamp-cs commented on #182
@bcherny I have created a pull request to fix this (#188) - it's slightly different from diff I pasted here.

Throwing a normal exception (as is done in the patch) should cover all three points which you raise - however the way it currently works the stack trace is not actually accurate.

The differences between current output and output with pull request is:

 - Current output:

[code]

 - Output

[2018-09-18 06:29] #179 closed

[2018-09-18 06:50] bcherny commented on #185
@monolithed Sounds good to me! Want to give a PR a shot?

[2018-09-18 06:50] bcherny commented on #182
359df5b6c5dbee8f8e74d71aa557e3b1acda8d0a

[2018-09-18 06:50] #182 closed

[2018-09-18 11:30] iwan-aucamp-cs opened #189 "prettier (via formatter.ts:format) is not working in browser usage demo"
I was trying to make sure the error handling changes (throwing Error()) did not break the browser (it does not AFAICT) - but in the process I noticed that [prettier](https://www.npmjs.com/package/prettier) is causing some issues with [browser demo](https://github.com/bcherny/json-schema-to-typescript-browser):

This problem can be reproduced with following changes to [json-schema-to-typescript-bro

[2018-09-18 12:05] danieletassone1981 commented on #153
Hi - same problem here.

MongoDB schema:
[code]
is converted into:
[code]
That make it really hard do handle.

[2018-09-19 04:12] #159 closed

[2018-09-19 10:44] ankon commented on #181
Adding my use-case: We use the title for human consumption, and assume that the title is going to change once in a while. The name generated for the type from that schema however should not change, but rather I would like to assign a name based on (in order of preference):
1. An attribute in the schema for the name of the generated type
2. A command line argument/compile option
3. Some reasonable

[2018-09-21 04:41] bcherny commented on #189
Great catch @iwan-aucamp-cs!

I think the fix here is to follow the Prettier instructions for in-browser usage, following the instructions for CommonJS so our Browserify script can then bundle it in - https://prettier.io/docs/en/browser.html.

[2018-09-24 18:06] adamduren commented on #141
@AndyDBell A workaround I'm currently using is to use the the `tsType` extension to name the type instead of `$ref`erencing it. You just have to make sure in whatever script you are using to generate the type definitions includes the type once. Hope this helps.

[2018-09-25 12:26] lebang opened #192 "Use 'Array<T>' instead 'T[]' for tslint"
[tslint] Array type using 'T[]' is forbidden for non-simple types. Use 'Array<T>' instead. (array-type)
could u fix it?
thank u.

[2018-09-25 14:46] maxime-agusti opened #193 "Duplication of type : properties with different description"
Hi there !

I have a problem with property, ref and description. If two properties of a type have the same ref definitions and two different descriptions, `json2ts` duplicate the type definition.

In the following case, I have a type named `Offer` containing two properties `price` and `priceInclVAT` of the same type `Price` but two different descriptions "Price excl. VAT" and "Price incl. VAT". Ou

[2018-10-05 20:13] adamduren commented on #192
@lebang I ran into this as well. Instead of handling this rule as a one off it might be better to support passing an optional tslint instance into the options similar as to how prettier can be passed in. Currently I am post processing my files as part of my json-schema-to-typescript pipeline.

[2018-10-06 16:56] bcherny commented on #192
@adamduren That’s a great idea! Does TSLint have a programmatic API to apply auto-fixes? Is there an existing auto-fix for array style?

[2018-10-14 22:44] vanslly commented on #153
The `additionalProperties` field is mentioned in the Swagger v2 spec https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object, but lacks any clear specification other than it allows for specifying a more dynamic schema.

In the Swagger v3 spec the `additionalProperties` field has been further defined, however only until v3.0.2 is the default of `true` specified:
https

[2018-10-16 09:15] deadNightTiger commented on #192
Seeing as everybody will have different lint rules, maybe just emit `/* tslint:disable */` as the first line of the generated file? Not all rules will have auto fixes available (for example `object-literal-sort-keys`, which is enabled by the `tslint:recommended` preset).

[2018-10-17 00:15] adamduren commented on #192
@deadNightTiger That's what I wound up doing. @bcherny I did some poking around and I didn't find a public or well-documented api. Because it's all JS/TS it could be engineered but probably not worth the effort.

[2018-10-17 00:33] bcherny commented on #192
Sounds good. If someone wants to add the tslint ignore annotation, I’ll merge it!

[2018-10-18 20:52] jdoklovic commented on #135
I'm getting this error as well trying to use the Jira schema:
https://developer.atlassian.com/cloud/jira/platform/swagger.v3.json

Error is:
[code]

[2018-10-20 15:43] Hoishin commented on #192
You can exclude files when running tslint. IMO it shouldn't emit `/* tslint: disable */` as someone might want to lint the emit files.

[2018-10-20 15:59] bcherny commented on #192
@hoishin Do you have a use case for punting emitted files?

[2018-10-21 13:44] Hoishin commented on #192
@bcherny when you want to control the emitted files...? not concrete one, but I don't think it's write to control library specific feature, especially this case it's super easy to just exclude the emitted files while it's really hard to remove the `tslint:disable` line in emitted files.

[2018-10-21 19:17] deadNightTiger commented on #192
@Hoishin it's not hard to remove it though, you could just use non-default bannerComment.

[2018-10-21 19:41] Hoishin commented on #192
@deadNightTiger Ah missed that it is included in the banner. That makes sense.

[2018-10-25 13:12] sirockin opened #196 "allOf inheritance pattern does not work"
I would expect the following json:
[code]
to give me
[code]
Instead it gives me:
[code]

[2018-10-31 22:09] EvanLovely opened #197 "Best practices for using outputted Typescript definitions"
I was curious how you tended to use the `d.ts` files. Do you just `import` them? If so, are they stripped out? Babel is leaving mine and I’m getting errors. Would love to hear your approach. Thanks for the utility!

[2018-11-08 16:36] odykyi opened #198 "How to inherits from two definitions?"
I have interface on TS, and it works, because I define this interface manually
[code]
I want not write manually interface in typescript, I want to use library `json-schema-to-typescript`, but I can't

How I can rewrite this TS code to json-schema, and how I can use json-schema-to-typescript `extends` from `two` interfaces?
now library `json-schema-to-typescript` doesn't support inheritance from mo

[2018-11-09 17:24] mohsen1 opened #199 "cli: --style.singleQuote false throws a type error"
running `json2ts --style.singleQuote false` will throw

[code]

[2018-11-12 23:36] #165 closed

[2018-11-12 23:41] bcherny commented on #196
This is a known, long-standing issue. Feel free to take a pass at it!

https://github.com/bcherny/json-schema-to-typescript/issues/96

[2018-11-12 23:41] #196 closed

[2018-11-12 23:42] bcherny commented on #196
As a workaround, you could move everything to `allOf`:

[code]

[2018-11-12 23:45] bcherny commented on #193
Hey @maximeag! I think we'll need a few more examples from others to make a call on this one. I'll leave it open for now.

For what it's worth, since TypeScript has a structural type system, `Price` and `Price1` are totally interchangeable (you can use a `Price1` where a `Price` is required, and vice-versa).

[2018-11-12 23:55] bcherny commented on #197
Hey there @EvanLovely! The way TypeScript works, it's types only exist at compile time for the benefit of TSC (the typechecker), you (the programmer), and other tooling. Babel should compile your TypeScript types away for you; if it's not, you might have configured it incorrectly, just Google "TypeScript Babel" for the right setup.

People use JSON-Schema for a bunch of different things. The most

[2018-11-12 23:55] #197 closed

[2018-11-12 23:59] bcherny commented on #198
Hey there @odykyi! You want `$allOf`:

[code]

See example output [here](https://github.com/bcherny/json-schema-to-typescript/blob/master/test/e2e/allOf.ts), or read more [here](https://github.com/json-schema-org/json-schema-spec/issues/348).

[2018-11-12 23:59] #198 closed

[2018-11-13 00:07] bcherny commented on #165
Published 6.0.2

[2018-11-13 03:30] rkdrnf opened #200 "Feature request: Emit string enums instead of string literal unions"
I hope enums of string
[code]
to be converted as typescript string enum like below.
[code]
Is there any way to do this?

I need this because I want to reference this enum in other json file as a string,
and also in code, I don't want to use raw string to reference these enum values.

[2018-11-27 06:38] #192 closed

[2018-11-27 06:41] bcherny commented on #200
Hey @rkdrnf! When I released JSTT, TS didn't support string enums yet :) We should support them behind an option. PRs are welcome!

[2018-11-27 08:37] CarstenLeue opened #201 "[ts] Property 'name' of type 'string' is not assignable to string index type '{ [k: string]: any; }'. [2411]"
Running json2ts on the json schema for package.json (http://json.schemastore.org/package) generates a typescript interface with many errors of the kind:

[ts] Property 'name' of type 'string' is not assignable to string index type '{ [k: string]: any; }'. [2411]

[2018-11-28 17:51] fjc0k opened #202 "[Feature Request] new option: export"
## export

- type: `boolean`
- default: `true`

If `export = true`:

[code]

If `export = false`:

[code]

☺☺

[2018-11-28 18:17] bcherny commented on #202
Hey there @fjc0k! Is your use case to use generated types from another file without having to import them first?

[2018-11-28 21:02] jwalton opened #203 "`properties` are ignored when `oneOf` is present"
If you have a schema that has both a `properties` and a`oneOf`, then the `properties` field seems to get lost.

Example schema:

[code]
Output:

[code]

Expected output:

[code]

[2018-11-28 22:33] bcherny commented on #203
https://github.com/bcherny/json-schema-to-typescript/issues/96

[2018-11-28 22:33] #203 closed

[2018-11-29 03:06] fjc0k commented on #202
Here's a case. 🤓

Input:

[code]

Output:

[code]

But I only want to export `data`, here is how I deal with it:

[code]

Then, output:

[code]

It works but ugly...🤨

[2018-11-29 03:36] bcherny commented on #202
Do you control your JSONSchema? If you give your “data” schema a tite or id property, JSTT will pull it out into its own interface for you.

[2018-11-29 03:49] fjc0k commented on #202
@bcherny thx, maybe I should change my approach.🤔

[2018-11-29 03:49] #202 closed

[2018-11-29 09:58] CarstenLeue commented on #201
[code]

[2018-11-29 10:00] CarstenLeue commented on #201
First error is on line 68:

`[ts] Property 'name' of type 'string' is not assignable to string index type '{ [k: string]: any; }'. [2411]`

[2018-12-02 21:00] bcherny commented on #201
Thanks @CarstenLeue! Here's what's happening-

- That schema defines a set of patternProperties:

[code]

- Though we can't fully express `patternProperties` in TypeScript, we try to [do our best](https://github.com/bcherny/json-schema-to-typescript/pull/144)
- What that `patternProperties` definition says is: "In addition to any properties that we explicitly enumerated already, a valid package.js

[2018-12-20 10:44] isabellachen opened #210 "scripts prop on generated schema for package.json needs to be fixed"
Using the online schema to typescript coverter with the [package.json schema](http://json.schemastore.org/package) I get a `scripts?` prop under CoreProperties with a list of optional props (I removed most of the props for brevity)

[code]
My compiler is freaking out because `Property 'prepublish' of type 'string | undefined' is not assignable to string index type 'string'`. The same goes for the

[2018-12-20 17:22] austince commented on #193
I also think it makes sense to use the descriptions to annotate the fields, instead of creating new interfaces. I think that the `description` field in JsonSchema never actually implies a difference in schema behavior, which is why the multiple generated interfaces are interchangeable, and would be better mapped to annotations instead, as suggested.

[2019-01-07 13:36] shripadk opened #211 "Is it possible to extend custom types?"
This is a use case that I have:

[code]

Expected Output:

[code]

What I get instead:

[code]
Is it possible to have the generated interface extend custom types?

[2019-01-07 18:31] bcherny commented on #211
This looks like a bug in the way we emit extended types. We probably forget to check for tsType in that case. @shripadk want to take a shot at fixing it?

[2019-01-08 04:20] shripadk commented on #211
@bcherny Sure! I'll look into this today!

[2019-01-10 10:38] DataTables commented on #162
I reckon I'm being thick, but I'm seeing basically the same issue and I don't really understand how it can be fixed. Given the schema:

[code]

I get the error:

[code]

The resulting typescript looks fine, but I don't understand how to address this compile time error.

Any suggestions?

[2019-01-10 16:10] johannesschobel opened #213 "Licence"
Dear @bcherny ,

i was just wondering about the licence of this library. The GitHub repository does not provide any explicit information, however, the `package.json` file states this packages as `licence: MIT`

What is the current status?
All the best,

[2019-01-10 16:20] bcherny commented on #213
MIT. Will add an explicit LICENSE.md at some point.

[2019-01-10 16:20] #213 closed

[2019-01-12 19:13] aucampia opened #214 "schema without id or title does not generate any output or error"
Currently if a schema does not have `id` or `title` it is not compiled, this is not in itself an issue but the lack of some error seems sub optimal.

### Current Behaviour:

No `id` or `title`
[code]

With `id`

[code]

### Expected Behaviour:

Expect that schema that cannot be compiled (due to lack of `id`/`title`) causes some error instead of just silent failure.

[2019-01-16 20:15] adamduren opened #216 "Support additionalProperties index definition"
Is it possible to support a custom index definition for `additionalProperties`?

Currently the output is: `[k: string]: MyInterface`.
It would be beneficial if it could be customized like so `[k in MyEnum]: MyInterface` for stricter typing.

[2019-01-17 14:17] felixfbecker commented on #199
`--no-style.singleQuote` works

[2019-01-17 14:18] felixfbecker opened #217 "Make CLI auto-detect and read prettier.config.js"
So config doesn't need to be duplicated with `--style.KEY=VALUE`

[2019-01-31 03:32] LiangMingChen commented on #93
I am running this as well
Is it possible to fix this with the suggestion from StAn187?

[2019-02-01 17:08] epferrari opened #218 "Tuple items with `minItems` and `additionalItems`"
We have a use case I don't think is currently covered. We have an array where 2 items must be defined, a max of 3, and the first one has an additional constraint. JsonSchema allows for this, but the generated type isn't what we'd expect.

schema:
[code]

expected generated ts:
[code]

actual generated ts:
[code]

using version 6.1.1

[2019-02-04 06:58] bcherny commented on #218
This is a fun one :)

- Bug #1 is when we infer a tuple type, we should look to `additionalItems` as the spread property. In your example, the correct type to generate is `[FooItem, FooItem1, ...FooItem1[]]`.
- Enhancement #2 is we should take `minLength` and `maxLength` into account when specifying tuple types. As a first pass:
  1. When minLength !== items.length, we should throw a validation er

[2019-02-04 07:01] bcherny commented on #216
This is a neat idea, but I don't think it jives with the specification.

https://json-schema.org/latest/json-schema-validation.html#rfc.section.6.4.2

Do you have a specific use case, and a proposal for how we could extend JSON-Schema to support this?

[2019-02-04 07:03] bcherny commented on #214
We compile unnamed schemas, but it looks like we fail to infer a name for top-level schemas. We should infer the top-level schema name from the filename.

[2019-02-13 12:43] aucampia commented on #181
Implemented in PR #215 which needs review.

[2019-02-14 20:58] G-Rath commented on #120
Any update on this? It'd be nice to have support for even some of the easy basic things like `const` (which you could just map to `enum` internally)

[2019-02-15 10:39] Yuripetusko commented on #193
We also don't see value in duplicated interface

[2019-02-15 13:07] nkappler commented on #211
There seem to be more problems, when I have multiple interfaces extending the same base interface, the base interface gets duplicated.

Schema:
[code]

What I expect:
[code]

What I get instead:
[code]

[2019-02-18 06:14] shripadk commented on #211
@nkappler my pull request has not been merged yet. Are you trying this on master or with my changes?

[2019-02-19 10:13] nkappler commented on #211
@shripadk I tried this only on master yet. I will try it with your changes...

[2019-02-21 21:40] KurtPreston opened #220 "Support for named anchors ($ref to a named $id)"
The latest spec allows support for named anchors:
https://json-schema.org/understanding-json-schema/structuring.html#using-id-with-ref

For example, named anchors would allow the following to compile:
[code]

Currently, trying to run json-schema-to-typescript against this results in the error:

[code]

Named anchors could be incredibly useful, in cases where one file references another self-refere

[2019-02-26 18:30] maximelkin commented on #183
For now nominal types can be expressed via
[code]
Can we implement it like this?
(Also typescript inside use such solution)

[2019-02-26 23:08] KurtPreston commented on #220
Issue seems caused by https://github.com/APIDevTools/json-schema-ref-parser/issues/97

[2019-03-13 14:51] adamduren commented on #216
@bcherny Thanks for the response. The link provided in for `additionalItems` vs `additionalProperties` but the gist appears to be the same. Would you prefer to close this or leave it open? I'm good either way.

Since enums are finite I should list all of the properties in my enum. If validation that all enum properties are accounted for that could be achieved in a pre-processing script with a mapp

[2019-03-14 20:02] bdirito commented on #153
@bcherny I think this would be a good ticket to reopen as well.

Specifically additionalProperties defaults to *true*. https://json-schema.org/understanding-json-schema/reference/object.html

On the other hand due to typescript not having as much expressability there are expressions that will legitimately translate to `[key: string]` (`patternProperties`)

This means no matter if you want to take

[2019-03-14 20:08] dcolthorp commented on #153
...me too. I continue to wish it was configurable.

Fundamentally, a type in typescript doesn't mean this is _only_ what an object has. It means it _at least means these requirements_. This is a key property of TypeScript's structural type system. The index signature just pollutes anything using types that happened to have been generated. Oh, woe is me.

(And thanks for a fantastic package we use

[2019-03-20 12:12] tomwidmer commented on #120
Note that Schema `readOnly` isn't really all that related to TypeScript's `readonly` - it isn't all that helpful to mark `readOnly` fields as `readOnly`. What the schema field usually means is that that field is ignored in request bodies (or alternatively, if present it's an error, or if present and modified from the current value it's an error - the exact meaning depends on the user, but to be on

[2019-03-23 08:25] dhermes commented on #143
I also ran into this. @bcherny do you think you might point to specific parts of the code where `$ref` get resolved?

[2019-03-30 09:46] harica opened #222 "commond line does not work in windows power shell/bash,"

[2019-03-30 09:48] harica commented on #222
example:
json2ts fhir.schema.json (a schema file with content)

simply hangs without any output in windows power shell environment.

[2019-04-01 09:51] rolandschuster opened #223 "Named Enums not working in anyOf, allOf or oneOf"
if i try to generate a named enum inside an anyOf-, allOf- or oneOf-Statement like this:
[code]
the generated output looks like this:
[code]
The problem is that NamedInteger is referenced but not defined in the output.

If i use it without anyOf like this:
[code]
The generator creates the following output which is correct:
[code]

[2019-04-02 20:22] lostinpatterns opened #224 "Unable to use within a react project"
When importing the `compile` function from this package from a file in my react project, it's throwing `ReferenceError: require is not defined`

Anyone else had difficulty using this within a react project? It seems that the prettier dependency is trying to eval some require statements, which I assume babel is having trouble transpiling.

I'm interested in running `compile` at runtime from my app

[2019-04-04 03:43] futurist opened #225 "add watch mode"
Can add watch option? in case of input json schema file changed, the ts file will up to date.

[2019-04-15 11:20] kevich opened #227 "`additionalProperties` and `required` not forwarded from `$ref`"
Due to normalise of `additionalProperties` and `required` before making `dereference()`, seems the properties `additionalProperties` and `required` from `$res` do not properly passed into main schema.

Here's an example:
`main_schema.json`:
[code]
`reference.json`:
[code]

expected `d.ts` for `main_schema.json` would be:
[code]

but it will be:
[code]

which is wrong...

[2019-04-17 11:25] sanderhahn opened #228 "Incorrectly generated schema when "type" is an array"
Trying to generate a schema definition from http://json-schema.org/draft-07/schema# itself. The type becomes:

[code]

However when the type is changed into `"type": "object"` and boolean default option is removed, the type becomes:

[code]

The last type seems more useful... Is there a way to improve the code generation of the schema itself without adjusting the schema definition?

[2019-04-17 14:16] jdguzman opened #229 "anyOf required produces empty loose type"
Given the json schema:

[code]
I am getting the type of:

[code]

The issue is the `anyOf`, the requirement is that at least one of those two be present. The validator that uses this schema is working correctly so I'm just unsure if maybe there something I could change to get a correct type?

[2019-04-20 19:48] chriskuech commented on #224
Can you elaborate about your scenario a bit more?  TypeScript is a static type system.  Why would you want to do this dynamically?

[2019-04-20 19:59] #224 closed

[2019-04-20 20:04] lostinpatterns commented on #224
@chriskuech Yes, sorry! Opened this prematurely while investigating ways to generate some type-checking and data validation for a client that consumed an API that self-describes with JSON Schema before actually becoming familiar with Typescript. Closed.

[2019-04-24 18:42] ianloic commented on #135
I'm hitting this issue with https://fuchsia.googlesource.com/fuchsia/+/master/zircon/system/host/fidl/schema.json (at this [ref](https://fuchsia.googlesource.com/fuchsia/+/c2cf02e96eb0fc320e4884a87f5d94bd4f5c6cb5/zircon/system/host/fidl/schema.json))

I've reduced it to a small test case. This works:
[code]
but this does not:
[code]

The additional property (it was originally a description but it

[2019-05-20 07:23] jameswilddev opened #231 "$ref to patternProperties object generates duplicate types and comments"
Trying this library out, seems pretty good!  I'm having a little difficulty getting the exact output I'd expect when a $ref points to a patternProperties object, however:

[code]

[code]

As can be seen this has included a large number of duplicate comments, and not created a separate type for LocalizedString.

I added a "title" to try and hint that this should be its own type:

[code]

[code]

As

[2019-05-20 19:48] jameswilddev commented on #231
Duplicates #193

[2019-05-20 19:48] #231 closed

[2019-05-24 01:25] jjwtay commented on #153
I would love if we could toggle this as well. Personally I would prefer it the most if additionalProperties were omitted in the schema itself (valid default is true according to JSON-Schema) then [key: string]: any does not get added but if it's set to true then you add it. I think the difference in behavior between JSON-Schema Validation and Typescript would be better handled this way since I can

[2019-05-28 17:26] fox1t commented on #225
Checkout this: https://www.npmjs.com/package/jsonschema-to-interface
Disclaimer: I am the author and it is a POC (that i use in my own projects with no problems). I think we can merge it here if works for others.

[2019-05-30 20:23] HoldYourWaffle opened #233 "Only generate interfaces for specific definitions"
I have a JSON schema file like this:
[code]

I want to generate a typescript interface **only for `IncomingRequestSchema`**. The other types are used and referenced in other places, and for various reasons I don't want them to be generated by this module.

Is this currently possible? If not I'd be willing to add this myself, but I have no idea where I should look.

I'm also getting a interface wit

[2019-06-07 12:03] geiseri opened #234 "Expose generator interface for custom output"
First off, this has saved me hours of work.  One thing that I need though is serializer support.  I currently use `ta-json` for the concrete implementations of my types.  This gives me a way to go back and forth with some comfort that I have a properly initialized object when using nested types.  They use decorators to denote their metainformation though.   So I have to copy-pasta each of my inter

[2019-06-13 21:03] G-Rath commented on #201
@bcherny `any` isn't a valid type in JSON schema, meaning this solution won't work.

[2019-06-15 05:32] G-Rath opened #235 "definitions for schemas w/ typed additionalProperties are not compatible w/ strictNullChecks"
This is all based around an attempt to resolve issues like #201, #210, etc

Currently, j2t generates definitions that are not strict mode compatible:

[code]

results in

[code]

This isn't valid under `strict`, specifically due to `strictNullChecks`.

To be valid, `| undefined` needs to be explicitly added.
The "downside" to this is that [you have to guard against `undefined`](https://github.com/

[2019-06-15 05:35] chriskuech opened #236 "Generate type guards"
For a schema "MyType", I would like this tool to generate the following TypeScript code.

[code]

This would be invaluable addition, because currently TypeScript's greatest weakness is no dynamic type checking for I/O scenarios.

I would be willing to PR this if it is very likely to be accepted.

[2019-06-15 20:17] bcherny commented on #236
This is a neat idea, but my hunch is it'll be pretty hard to do in practice. Do you want to flush out (in this issue, or with code) what the runtime validation code might look like, and what the edge cases we should watch out for are? I'd encourage you to think exhaustively about the set of types we need to handle: arrays, tuples, objects, referenced types, custom types, and so on.

[2019-06-15 20:23] bcherny commented on #235
This seems like the correct solution to me. Want to PR this behind a `--strictIndexSignatures` option?

[2019-06-15 20:31] bcherny commented on #234
Hey there @geiseri! Notice that JSTT is a modular compiler, where you can use any of the pieces as you like. Consider using it like so:

[code]

See https://github.com/bcherny/json-schema-to-typescript/blob/fcbe243e62df5722cda1cffa4049c3942d519f8b/src/index.ts#L110

I'm happy to accept a PR to extend the `AST` type and the `generate` function to support decorators, or any other valid TS node types

[2019-06-15 20:31] #234 closed

[2019-06-15 20:32] bcherny commented on #233
Could you elaborate?

Please open a separate issue, with a reproducible example. Thanks!

[2019-06-15 20:35] bcherny commented on #229
The `"required"` in your `anyOf` object require properties (`email` and `phoneNumber`) which aren't actually defined on that object.

Check out the tests for proper usage for `anyOf`: https://github.com/bcherny/json-schema-to-typescript/blob/master/test/e2e/anyOf.ts

[2019-06-15 20:35] #229 closed

[2019-06-15 20:42] bcherny commented on #228
The schema's type is declared as `["object", "boolean"]`, so this seems like a bug.

[2019-06-15 20:44] bcherny commented on #225
Contributions are welcome!

[2019-06-15 20:47] chriskuech commented on #236
I don't think this would be that difficult.

We would add a type conversion error class to the main module
[code]

At the top of each file, we would generate
[code]

The for each type (ex: `MyType`)

1. Generate the schema as an value (ie the `JSON.parse(rawSchemaString)`)
[code]
2. Generate the type validation function leveraging the schema
[code]
3. Generate the type (the existing behavior of th

[2019-06-15 20:48] bcherny commented on #210
Tracking in #235

[2019-06-15 20:48] #210 closed

[2019-06-15 21:07] G-Rath commented on #235
Awesome - I'll have a crack at a PR, but will ping you if I run into any problems :)

[2019-06-15 21:33] sanderhahn commented on #228
Did my own limited implementation that has missing features. However it is able to bootstrap the schema itself. One somewhat unrelated TypeScript limitation is that TypeScript json imports don't work nicely with string literal types (https://github.com/microsoft/TypeScript/issues/31920).

[code]

[2019-06-17 03:38] chriskuech commented on #236
Looks like the biggest issue is generating the schema object.  Currently, the pipeline only passes through the AST, whereas we would have to pass the schemas alongside the AST through the pipeline.

[2019-06-17 09:33] brettz9 opened #237 ""Not expressable in TypeScript" as jsdoc comments"
For the "Not expressible in TypeScript:" list in the README, I am wondering whether you would be interested in providing default output whereby such items could be expressed as jsdoc comments in the generated output (and if not, at least ensuring that the proposed custom templating in #9 would have enough information provided to it, such as the current schema object, that users could do so themsel

[2019-06-17 10:31] brettz9 commented on #237
I just noticed that for at least https://github.com/YousefED/typescript-json-schema , they use an unprefixed type, e.g., `@minimum`: https://github.com/YousefED/typescript-json-schema#annotations

[2019-06-17 12:21] brettz9 commented on #237
And it appears the list might be expanded to mention lack of TypeScript support (or lack of current implementation support?) for the following:

`default`, `exclusiveMaximum`/`exclusiveMinimum`, `maxLength`/`minLength`, `readOnly`/`writeOnly`, `examples`, `additionalItems`/`contains`, `propertyNames`, `if`/`then`/`else`, `const`

[2019-06-18 20:13] Ethan-Arrowood commented on #16
I just opened a PR that should resolve this issue.

[2019-06-20 09:41] HoldYourWaffle commented on #233
The short explanation is that I have these types defined elsewhere. To elaborate more:
1. I generate some of my types/schemas based on database table structure using [schemats](https://www.npmjs.com/package/schemats).
2. Some types simply don't fit in JSON schema (for example mapped types), defining these in TS itself is much more convenient.

Mainly because of reason 2 I'm not using this module a

[2019-06-21 02:25] vanslly opened #239 "Support for `oneOf` with `discriminator`"
In AOS 3 there's provision for `oneOf` being used along with a `discriminator`, which allows specifying an array where the types are discriminated based on a property. https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/

[code]

Expected TypeScript:
[code]

[2019-06-26 02:30] dieseldjango opened #240 "Type alias 'AnyType' circularly references itself."
I have a schema with a circular reference:

[code]

This produces an interface:

[code]

However, this isn't valid TypeScript:

[code]

Any idea how this could be solved?

[2019-06-27 22:38] dieseldjango commented on #240
When I try a variation of that schema it blows the call stack:

[code]

[2019-07-01 04:25] vanslly commented on #193
I am desperately wanting an extensively documented API, so all types and all properties have descriptions; but I also don't want dupe types generated, it causes a lot of noise to consumers of my api client. Would really appreciate if this was changed so differing property descriptions do not cause new types to be generated.

[2019-07-09 06:56] bradzacher opened #243 "Support `properties` + `anyOf` together"
#229 and #167 both proposed this, but were closed even though it is not supported - the workaround in #167 was to change the schema, which I can't do because I don't control the schemas.

[code]

Should produce:

[code]

[2019-07-09 10:21] JustinLex opened #244 "Add union-type for arrays with "uniqueItems""
Hi, I'm using this tool in my project and I was thinking that it would be good if the tool added a union type for arrays when translating a JSON schema if the array has uniqueItems set to true. The Set() object is an ordered list that only contains unique elements, so it's perfect for working with JSON using this schema in Typescript. The only issue is that JSON arrays aren't parsed as Set().

I t

[2019-07-14 03:15] G-Rath commented on #235
I've started work on this.

In refreshing my memory on this, I think at least for now I'm going to have `--strictIndexSigntures` stick `| undefined` on *all* index signatures (instead of only ones that have optional properties).

The reasoning for this is that you can't assume a property exists unless it's defined, and an index signature is saying that any extra properties which may or may not exi

[2019-07-23 15:57] HemTech opened #246 "Error resolving $ref pointer"
I am trying to convert below JSON spec into typscript model using below code:

[code]

I'm getting exception due to the ref variable. I have tried to used the $refOptions but did not get any luck. May I get any example to use refOptions?

[code]

[code]

[2019-07-25 05:06] shortwavedave commented on #169
I could use this

[2019-07-27 21:31] #218 closed

[2019-07-30 16:56] adrianschneider94 opened #247 "Circular references"
Hi there,

thanks for this module! It saves so much time.

However, I get a stack overflow when I try to build types for a schema with circular references.

Best wishes
Adrian Schneider

[2019-07-30 17:00] adrianschneider94 opened #248 "Types instead of interfaces"
Hi there again,

no big issue, but some people (including me) prefer typescript types over interfaces. It's absolutely no problem to build them from the output, but it would be nice to have it as a config option. Or is there anything I don't see that speaks against types?

Best wishes
Adrian Schneider

[2019-07-31 00:37] bcherny commented on #248
Hey there! Is there anything that types would let you do that interfaces don’t let you do, for your use case?

[2019-07-31 00:38] bcherny commented on #247
Repro please!

[2019-08-01 02:39] scriptsure opened #249 "Unexpected token"
ANYONE KNOW WHAT THIS ERROR IS

C:\xsdtots>json2ts --input tsconfig.json --output transport.ts
C:\xsdtots\node_modules\json-schema-to-typescript\node_modules\json-schema-ref-parser\lib\index.js:12
const { ono } = require("ono");
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (modu

[2019-08-01 03:00] #249 closed

[2019-08-05 21:40] YuJianrong opened #250 "Add switch to disable the minItems/maxItems expanding"
In 0.7.0 a new PR https://github.com/bcherny/json-schema-to-typescript/pull/242 is merged to support minItems/maxItems for the array, this is great!

Until something like
[code]
In my JSON Schema...

This kind of schema generate a HUGE interface file which is not usable. May I ask can you add a flag to disable this feature or do some limitation like convert only for the case less than 5 items? Tha

[2019-08-05 22:49] bcherny commented on #250
Hey there! What issue are you running into with those big generated types — what’s “unusable” about them?

[2019-08-06 15:23] YuJianrong commented on #250
@bcherny Because the TS interfaces we generated are used for human reading too.
30k lines of interface may still friendly to the compiler, but not friendly for human. And we will commit the interface file to git, it seems it's not a good idea to commit this kind of HUGE file into git repo.

[2019-08-06 16:16] bcherny commented on #250
Thanks for the context @YuJianrong, that does seem fair to me.

@bradzacher What do you think of bailing out at some sensible number of maxItems (say, 5, 10, or 20) and fall back to a less safe array type, since big tuple types aren’t buying us much safety anyway (since you’re not going to manually construct 500-member tuple types, and are going to have to lug around the generated tuple type every

[2019-08-06 16:35] bradzacher commented on #250
probably a good idea, yeah.
I didn't think about the fact that people would supply such large numbers for `maxItems`.

It's probably pretty much impossible to provide values to those array types when they're that large as well.

maybe like 10 is a good round number? feels like you wouldn't really be providing more tuple elements than that by hand.

[2019-08-06 17:13] bcherny commented on #250
That sounds good to me. :)

@YuJianrong want to contribute a fix for this? I would:

1. Add a normalizer step to delete the minItems and maxItems properties when (maxItems - minItems) is >10.
2. Log out a warning when you do that.
3. Add a unit test for it.

[2019-08-08 19:24] kvandelden opened #251 "7.0 generates any for simple schema."
v 6.1.3 generates

[code]

v7 generates

[code]

Did the API change ?

[2019-08-08 19:31] bcherny commented on #251
@bradzacher Mind taking a look when you have a chance, to see if it’s relates to your changes?

[2019-08-08 19:52] bradzacher commented on #251
Hey @kvandelden - could you provide some more information?
What is the JSON Schema that is generating that?

The tests didn't change between versions (more tests were added), so you might have a case that has been missed, and isn't tested here.

Hard to say without seeing your schema.

[2019-08-08 20:05] kvandelden commented on #251
{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "title": "IwbSource",
  "description": "Schema for Source records",
  "type": "object",
  "track": true,
  "properties": {
    "SOURCE_ID": {
      "type": "string"
    },
    "SOURCE_NAME": {
      "type": "string"
    },
    "BUSINESS_CONTACT": {
      "type": "string"
    },
    "TECHNICAL_CONTACT": {
      "type": "string"
    },

[2019-08-08 20:07] kvandelden commented on #251
![image](https://user-images.githubusercontent.com/17126950/62734247-283dbb00-b9ee-11e9-91f9-d155d254033a.png)

This is the API I am calling..

[2019-08-08 20:57] bradzacher commented on #251
I can't seem to repro this against master:

https://github.com/bradzacher/json-schema-to-typescript/commit/001e5f7731441ab898baf806f3888fab619a23e9

https://github.com/bradzacher/json-schema-to-typescript/blob/001e5f7731441ab898baf806f3888fab619a23e9/test/__snapshots__/test/test.ts.md#issue251js

[2019-08-12 12:55] adrianschneider94 commented on #247
I'm really sorry -- I forgot to stash the example. I'll try somehow to recover it, but probably it's lost.

[2019-08-12 12:55] #247 closed

[2019-08-16 22:05] scvnathan commented on #227
I came across the same issue with my own schemas recently.
I'm guessing this behavior is due to this rule in `normalizer.ts`?:
[code]

[2019-08-20 05:46] bcherny commented on #251
@bradzacher Thanks for taking a look so quickly, and sorry to pull you in on a hunch :)

@kvandelden I also can't repro this. I get the correct output:

[code]

Could you make a Github repo with a self-contained repro case, and comment back with a link to it?

[2019-08-20 05:47] bcherny commented on #248
Closing for inactivity. @adrianschneider94 feel free to re-open if you'd like.

[2019-08-20 05:47] #248 closed

[2019-09-04 06:58] retorquere opened #253 "Schema fails to match JSONSchema4"
I have this schema:

[code]

but when I pass it to `compile` I get

[code]

[2019-09-04 10:12] retorquere opened #254 "in timezone"

[2019-09-04 14:04] retorquere commented on #253
If I ignore the typings and just use javascript, it does work:

[code]

[2019-09-04 14:36] Hotell opened #255 "cli: support --bannerComment as file input"
Currently there is no way how to pass to CLI file with banner ( banners tends to be longer than one line comment )

**Current solution:**

[code]

**Proposed feature:**

[code]

If you're ok with that I can send PR.

[2019-09-07 21:06] #235 closed

[2019-09-09 08:48] nicojs commented on #153
I would love this toggle as well. Without it, type safety isn't really there.

I.e. this schema:

[code]

Generates this interface:

[code]

Which results in this being valid:

[code]

Adding insult to injury, the `titel` property is considered to deliver an _explicit any_, so no help from `--noImplicitAny`.

I would be happy to implement this in a PR.

How about an `--ignoreAdditionalProperties`

[2019-09-09 09:12] nicojs commented on #153
As a workaround:

[code]

[2019-09-11 09:55] gskema opened #256 "Object null multi type ignores object properties"
Given

[code]

generates

[code]

what I expect:

[code]

which can be achieved by declaring:

[code]

I would like `["object", "null"]` to generate the desired output, unless declaring multi-type this way is against the JSON schema standard. Is this working as intended or just not implemented yet?

Edit: a similar situation with array type:

[code]

generates

[code]

[2019-09-16 16:40] d-theo opened #257 "Array of Array outputs an incorrect definition"
Hello,

I have a schema like this :
[code]

the output is :
[code]

Which doesn't compile because the expected type of `RootArray` is `Root[]` instead of `[Root, ...(Root)[]];`

[2019-09-17 21:32] evert opened #258 "Feature request: dedupe emitted types referenced from multiple files"
Apologies if this has been asked before, I did a few searches but couldn't quite find this.

I have a directory of schemas. Each of those schemas sometimes share references to common definitions.

This tool automatically expands the references, and they all get in-lined (and thus duplicated).
It would be nice if references could be transformed to a typescript type, and referenced from a common fil

[2019-09-22 18:42] felixfbecker opened #259 "Cannot use 'in' operator to search for 'required' in true"
Getting this error when upgrading to 7.1:
[code]

To reproduce, check out https://github.com/sourcegraph/sourcegraph/pull/5083 and run `yarn` in the root. The calls are in the Gulpfile and the schemas are in the `schema/` directory.

[2019-09-25 18:05] jbwyme commented on #237
Ah ok I was wondering why `if/then/else` didn't work. @bcherny can you help me understand why we cannot support `if/then/else` using TypeScript? it could be modeled using `OR`s no?

[code]

[code]

[2019-09-25 19:02] erikfox opened #260 "[Question] Why dereference $refs when TypeScript allows for the same behavior?"
My team was using this library to successfully generate our TS typings until we introduced circular `$ref`s into our schema. When this library attempts to parse these circular `$ref`s, it breaks max call stack.

[code]

My question is why try to dereference `$ref`s at all when TypeScript supports references to other types/interfaces (including circular)?

[code]

[2019-09-25 22:04] jylauril commented on #258
I'll second this request! This would be really great to be able to reference the types with imports instead of literally duplicating it in every file.

Our use case is that we have about 80 or so JSON schema files that we need to individually convert, and a lot of them are referencing other files. I've been thinking about adding some post processing steps to manually fix those, but better option w

[2019-09-29 20:57] qzb commented on #260
Actually, `json-schema-to-typescript` can easily handle schemas like this, but your reference is invalid. References in JSON Schema are relative to `$id`, so you have to change it from `#/User` to `#`. Additionally, if you want to have nicely named interfaces, you have to specify a title.

Schema after changes:
[code]

Result:
[code]

If you want to get rid index signature as well, you have to set

[2019-09-29 21:13] qzb commented on #257
Generated type looks correct, since `[Root, ...(Root)[]]` describes an array with at least one element, as you requested by setting `minItems` to `1`. If you want to circumvent this behavior, you can always use `tsType` property.

[2019-09-29 21:51] qzb commented on #246
It doesn't work because you are iterating over entries of `components.schemas`, and these schemas obviously doesn't have `components` object. You can either use [swagger-parser][] or [json-schema-ref-parser][] to dereference your whole spec first:

[code]

...or try to add original `components` object to each schema before generation:

[code]

[swagger-parser]: https://www.npmjs.com/package/swagge

[2019-09-30 21:44] gmathieu commented on #228
Let me know if this PR fixes the issue: #261

[2019-10-01 17:40] aslupik commented on #250
A switch to disable it completely would be very appreciated. We have a bunch of code written that expects `T[]` and it's a painful breaking change to adapt all of that to deal with `[T, ...T[]]` instead. This basically means we're not upgrading to version 7.

[2019-10-15 18:24] cdietschrun commented on #200
Is this still not possible? I was really hoping it would be and have run into this now in using it. I may make a PR to do this if I have the chance.

[2019-10-16 12:15] sanderhahn commented on #228
Have tried to run your PR on the draft-07 schema at: https://raw.githubusercontent.com/json-schema-org/json-schema-spec/draft-07/schema.json This results in an error, maybe i am doing something wrong:

[code]

[2019-10-16 15:54] gmathieu commented on #228
@sanderhahn thanks for checking looks like the issue is in master as well. The traverse doesn't appear to support `schema === true`. The type def `JSONSchema` doesn't either.

https://github.com/bcherny/json-schema-to-typescript/blob/85c3ab05c7d112e8b779201bdbfc99f98eed4226/src/utils.ts#L94-L95

Looks like your issue is still valid and #261 won't help until the traverse function is updated to supp

[2019-10-18 04:26] benjamine commented on #183
most people will use use a parser/reviver that supports actual `Date` objects,
maybe a flexible solution would be make these configurable?:

[code]

[2019-10-21 12:20] nicojs opened #263 "Support for constant values"
Support const values (new in v6). https://json-schema.org/understanding-json-schema/reference/generic.html#constant-values

Input

[code]

Expected output:

[code]

Current output:

[code]

This feature was mentioned in #120 but as the scope of that is a bit too big for beginning contributors I thought I would split this feature out.

Any hints for json-schema-to-typescript newbies would be much a

[2019-10-21 20:54] djbeaumont commented on #263
I've been hoping someone would give this a try for about a year now and I've finally had a chance to give this a go in the PR above https://github.com/bcherny/json-schema-to-typescript/pull/264

[2019-10-23 17:47] Hexenon opened #265 "Support for auto-generate swagger-jsdoc docs"
a good idea of adding support for this: https://github.com/Surnet/swagger-jsdoc
so we can add this documentation out of the box when we generate the interfaces.

[2019-10-30 12:40] lukaskurz opened #266 "[BUG] Typescript error when using property literal type with optional fields"
### Expected Behaviour
Generate typescript definitions from json schema.
Generate interface that defines some fields, that are optional and also defines a type for all other properties of that object.

[code]

However this throws an Type Error, due to `prop?:string` translating to `prop: string | undefined`.
To fix this, undefined has to be added to the key-value definition.

[code]

json2ts shoul

[2019-10-31 12:58] brettz9 commented on #246
I am getting this error with the code at https://runkit.com/brettz9/5dbada148783d10012e7303b .

I don't know if this is a separate issue, as in my case, it says it is looking for a path "/app/...", but I don't see that I have any such reference in my code.

Thanks!

[2019-11-02 16:11] Goldziher opened #267 "[BUG] "comment.split" is not a function"
Hi there. First of all thanks for your efforts! I've been using this tool with much success and find it very effective. Second - I'm experiencing a repeated issue when I'm converting openapi schemas of type array, namely this:

[code]

[2019-11-05 11:43] julienvincent commented on #223
Any update on this?

[2019-11-05 12:35] mochen666 opened #268 "webpack warning: "Critical dependency: the request of a dependency is an expression""
I use this library to compile, but get the warining:
[code]

[2019-11-08 23:50] justindujardin opened #269 "JSONSchema exports Typescript types for simple fields with titles"
Awesome project, thanks!

I'm using pydantic to export JSONSchemas, and it adds titles to fields by default:
[code]

This outputs the schema:
[code]

The output Typescript has exported types for each field, even though they're all simple types:
[code]

Can you suggest a way to suppress the exported types for these simple fields, even if they have titles?

[2019-11-13 12:17] beckerei opened #270 "Use fs from node instead of normalize/mz"
Is it still needed to support older node version that don't support readFile, writeFile?

`mz` ships with a dependancy to `any-promise`.

Are you willing to accept a PR to use nodes own implementation

[2019-11-29 06:11] anonimitoraf commented on #237
Also interested in this. I'd be happy to implement it if anyone could show me where to start looking

[2019-11-30 21:16] bcherny commented on #237
@anonimitoraf @brettz9 Want to start by spec'ing out JSONSchema properties, and the output that you'd expect for each? That will help guide how we implement this.

[2019-11-30 21:24] bcherny commented on #270
Hey there @beckerei! We use `mz` for the Promises. Since native Promise-based APIs were introduced pretty recently in Node 10, I'd like to stick with `mz` for now to support whatever Node version people might be using. Is there a particular issue you're running into due to the dependency on `mz`?

[2019-11-30 21:24] #270 closed

[2019-11-30 21:33] anonimitoraf commented on #237
Ah, actually, my mistake for not stating what I'm after. I'm after the implementation of if/then/else. Shall I raise a new issue for that?

[2019-12-01 10:11] beckerei commented on #270
Prior I thought it we had [conflicts](https://jest-bot.github.io/jest/docs/troubleshooting.html#unresolved-promises) our test env, but then noticed the lib was not called during tests. So this was not an issue. Maybe others might have this problem at some point.

[2019-12-02 13:07] dbrockman commented on #253
@retorquere  This is not a bug. You are passing the type `string` to the union type above `"string" | "number" | "boolean" | ...`

You can fix it two ways.
1. import the `JSONSchema` interface and set that as the type of `mySchema`: `var mySchema: JSONSchema = { ... }`
2. you can also just inline the object in the function call: `compile({ ... }, 'MySchema')`

[2019-12-02 13:49] retorquere commented on #253
I don't quite follow? I'm only passing supported types for `type`, right? Shouldn't typescript figure out I'm passing a compatible value?

So I'd have to do
[code]
?

[2019-12-02 17:26] eseliger commented on #259
Acccording to the spec, items can be `true` either, so this is an edge-case

https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.9.3.1.1

[2019-12-04 09:15] wadik12 commented on #223
@julienvincent I create PR with fix for it, but it have to wait for @bcherny code review.

[2019-12-17 19:04] Ethan-Arrowood commented on #16
Because of stagnation I've published a npm module that enables this feature, api only for now. https://www.npmjs.com/package/compile-schemas-to-typescript

[2019-12-19 06:10] zlk89 commented on #258
+1 It would be great to have this feature and an API to convert all files under a directory in batch. We have more than 1k json schema files, and duplicating shared references make output size explode

[2019-12-23 23:52] haggholm commented on #59
_My_ use case (and the reason for my fork) is opaque containers. For example, our application has a lot of encrypted data, so our API frequently sends something of type `CryptoContainer` with predictable fields for ciphertext, algorithm options, &c., but this doesn’t provide information about _what_ is encrypted. Hence, I added generic parameters like `CryptoContainer<T>` so that, though this won’

[2019-12-29 19:21] EvanLovely commented on #269
I’d love to have this option too please!

[2019-12-29 21:02] justindujardin commented on #269
@EvanLovely I hacked around this by passing my JSONSchemas from Pydantic through this function:

[code]

[2020-01-02 01:41] Ethan-Arrowood opened #272 "[Feature] Add single file output for multi file input"
#238 is adding the ability to specify multiple file input for this library.

An additional feature would be to allow the user to specify a single file output for a multi file input and have everything be concatenated into the single file output.

Currently, a check is in place in the CLI to throw an error when the user attempts this operation.

[2020-01-03 01:03] Manu1400 commented on #267
Can you share your schema ?

[2020-01-12 21:51] #223 closed

[2020-01-13 00:07] lukeggchapman commented on #250
We have a problem where the union tuple types it generates are hindering our ability to manipulate the array using map and reduce.

[code]

Error 1:
![image](https://user-images.githubusercontent.com/1396212/72227789-a08b5680-35f4-11ea-9e4f-f81f0c7e8d19.png)

Error 2:
![image](https://user-images.githubusercontent.com/1396212/72227798-b862da80-35f4-11ea-95ff-51f875bab940.png)

I would suggest if t

[2020-01-13 00:19] bradzacher commented on #250
An option would be better. I think there are valid uses for using tuples, like validating the structure of configs.

[2020-01-13 00:36] bcherny commented on #250
Thanks for the feedback everyone! Two issues here:

1. We should better handle [really big `maxItems`](https://github.com/bcherny/json-schema-to-typescript/issues/250#issuecomment-518761342)
2. We should add a flag to generate arrays instead of tuples when `minItems`/`maxItems` is set, at least until/if TS issues that make calling generic functions on unions painful are fixed (I think there are a

[2020-01-13 00:39] lukeggchapman commented on #250
@bradzacher Sure, I'm just being biased towards my use case.

Thanks @bcherny, we'll try and find some bandwidth to implement your suggestion.

[2020-01-14 12:47] simonwebb-spafax opened #273 "Ref'd 'anyOf' schemas only generates first 5 types"
We are using a schema to include other schemas to generate, e.g.

Schema
[code]
However the output only includes the first 5 in the anyOf list, i.e.

[code]
Is this a know issue and is there a workaround?

[2020-01-18 15:41] smil2k commented on #200
{
    "type": "object",
    "properties": {
        "id": {
            "type": "string",
            "example": "3445344367kj"
        },
        "ReservationKind": {
            "enum": ["DateOnly", "Exact"],
            "tsEnumNames": ["DateOnly", "Exact"]
        },
        "name": {
            "type": "string"
        }
    },
    "required": ["ReservationKind", "name"]
}

Creates:

export i

[2020-01-18 15:48] smil2k commented on #258
The closest I found so far was:

 "elements": {
      "type": "array",
      "items": {
        "$ref": "Element.json",
        "tsType": "Element"
      }
    },

Additionally my .js script puts everything into one definition file at the end, so it is kind of working as you would expect.

[2020-01-18 15:55] smil2k commented on #272
I'm using this script to generate all the types into one file:

[code]

Probably it would be a great addition to the CLI sometime in the future ;-)

[2020-01-21 01:46] chrispaterson commented on #237
Hi, I'm interested in this feature.  @bcherny, As far as spec'ing out the JSONSchema properties, could it not just take any unknown property key and make it an @ comment?  For example a schema:
[code]

Would produce:
[code]

[2020-01-25 00:05] rymndhng commented on #153
Bumping this as well as a feature. The use-case we have is using `allOf` to compose our schemas. For JsonSchema validation, we have to add `additionalProperties: true` to all the schemas for them to check correctly. Ideally, the typescript definitions would not emit `[k: string]: any`

[2020-01-25 16:23] bradleyayers commented on #153
Since I posted earlier, I'll give another update—the sed style approach did work for us, but we've ended up moving away from JSON schema entirely to io-ts, and shared interfaces between codebases via TypeScript code (specially via yarn workspaces).

[2020-01-25 21:04] nicojs commented on #193
This is **not** true when using ts string enums.

I.e.

[code]

Results in:

[code]

Here, `Qux` and `Qux1` are _not_ interchangeable.

![image](https://user-images.githubusercontent.com/1828233/73127305-7f484400-3fbe-11ea-9b4c-9064066be49c.png)

I agree with the sentiment described in this issue.

[2020-01-25 21:08] nicojs commented on #193
It's not only the 'description' field that forces 2 duplicate implementations. Also the `default` results in the same behavior.

I.e.

[code]

Results in:

[code]

[2020-01-27 18:04] matthew-nichols-westtel opened #275 "[Feature] Add option to use `unknown` instead of `any` in output"
Aka have a schema like `{"type":"object","title":"Object"}` turn into

[code]

instead of

[code]

`unknown` is much less likely to cause issues from misspellings, etc (aka many of the problems in #153) and is just safer than `any` in general.

[2020-02-09 00:17] evergreen-lee-campbell opened #276 "Add option to "import" referenced schemas"
If I have the following schemas:

parent.json

[code]

And child.json

[code]

It'd be really useful if the generated TypeScript file for "parent.d.ts" included an import for "child", based upon the reference path, e.g.:

[code]

This would greatly aid bulk compilation across a local schema ecosystem, without the code duplication of the TypeScript classes in all dependent files (I currently have a

[2020-02-09 00:42] evergreen-lee-campbell commented on #276
In other words, it's the ability _not_ to dereference.

[2020-02-13 01:43] ulivz opened #277 "Wrong definition output for multiple types with array"
## Example

[code]

## Expected

[code]

## Actual

[code]

[2020-02-18 11:20] dbrockman commented on #253
@retorquere The problem is that when you assign an object to a var, typescript will use a more general type for that var. For example:

[code]

The type `JSONSchema` specifies that the property "type" must have the type `"string" | "number" | "boolean" | and so on...` so the more general type `string` cannot be assigned to this narrow subset of strings.

I know it's a bit confusing... Here's anoth

[2020-02-22 18:54] #250 closed

[2020-02-26 10:04] LutzR commented on #259
Hello,

issue seems to be, that the if-condition is in the wrong order:
**if (!('required' in schema) && isObjectType(schema))**
if schema is not an object this results in error.

This way it would work:
**if (isObjectType(schema) && !('required' in schema))**

[2020-03-04 10:07] zhangciwu opened #279 "Allow unicode characters in type name"
https://github.com/bcherny/json-schema-to-typescript/blob/d898361ff973d3746ea695f1efce75c975061c6f/src/utils.ts#L164

The member of type name is restricted to only english letters (and some symbol)
Typescript now allows unicode characters ([doc link](https://www.typescriptlang.org/docs/handbook/release-notes/overview.html#better-unicode-support-for-identifiers))

So, modify this function to allow

[2020-03-04 10:11] zhangciwu commented on #279
My scenario: `title` value is in full chinese, so the result typename is blank
(Maybe another bug to fix: do not generate blank type name)

[2020-03-04 10:15] zhangciwu commented on #279
A minimium schema would cause this error:
[code]

[2020-03-08 19:36] bcherny commented on #279
Sounds good to me! Want to put up a Pull Request?

[2020-03-08 19:43] bcherny commented on #259
@LutzR  Want to put up a PR?

[2020-03-09 05:42] ulivz commented on #277
@bcherny Any response for this issue?

[2020-03-10 03:27] zhangciwu commented on #279
Fix the blank name bug in #280

Allow unicode is a little complicated, would be later

[2020-03-10 06:18] bcherny commented on #279
Thanks for the fix, but I think supporting Unicode (as you suggested) could be a better way to do it. What issues are you running into?

[2020-03-10 08:12] zhangciwu commented on #279
Got a doc: [Valid JavaScript variable names in ES2015](https://mathiasbynens.be/notes/javascript-identifiers-es6)
Maybe using this code provided in this page to judge a string is a valid identifier is comprehensive, but it's not packed into npm, and while I found some packs:

https://github.com/purplecabbage/valid-identifier
https://github.com/YerkoPalma/is-valid-identifier
https://github.com/Stev

[2020-03-10 09:18] nicojs commented on #193
A workaround is to remove all other properties (with the exception of `"$ref"`) before generating the schema.

[code]

[2020-03-14 08:15] dl748 commented on #135
I'm having a problem with a circular references.

types.schema.json
[code]

executing `json2ts --unreachableDefinitions --input types.schema.json` is working correctly

[code]

which is expected but then if i try to use it from an external file, i'm getting errors

test.schema.json
[code]

I'm getting

[code]

if i pull in the definitions manually, I don't get any error

[code]

produces

[code]

[2020-03-14 21:33] dl748 commented on #275
Love this feature, forces other devs to either typecast or fix the schema.  I'd prefer this as the default as its "safer" but unfortunately it prevents backwards compatibility.

[2020-03-16 10:38] mukul1203 opened #282 "$merge in schema produces empty typescript interface"
I have a json schema using keyword $merge (to merge two subschemas, where allof fails due to the 'additionalProperties=false' issue). Passing it through the json-schema-to-typescript gives an empty interface.

[2020-03-19 16:04] LutzR commented on #259
@bcherny I created Pull-Request #284 for this issue.

[2020-03-19 22:24] pavelvlasov opened #285 "Minor release to bump minimist"
hey 👋

Is it possible to create a minor release in order to fix the security issue related to `minimist`?
`minimist` is already bumped in master so I guess it's just a matter of publishing it to npm.

Thanks for the awesome package!

[2020-03-24 19:07] tugglecore commented on #277
@bcherny
May I come up with a solution to this problem? This would be my first contribution. So is there anything I need to know before attempting to solve this issue? I already have the project running locally and have familiarize myself with code base.

[2020-03-30 20:36] thurst0 opened #286 "Performance improvement for `Default top level `id`` rule"
This [rule](https://github.com/bcherny/json-schema-to-typescript/blob/25f26c18ddbadab417567ab3004739f7da3b67d2/src/normalizer.ts#L57) is very slow to run when working with Large schemas.

It is doing a stringify and equality on every traversed object or array element in the schema against the root schema just to figure out if it's the top level.  Really this rule only needs to run once for every s

[2020-03-31 21:44] NoxHarmonium opened #288 "Prettier should be a peer dependency"
I'm having some issues with dependency resolution of `prettier` after installing this library.
In my project prettier is a "devDependency" and is pointing at "^2.0.2" to support the latest version of Typscript.

This project has prettier as a regular dependency and is pointing at "^1.19.1". Depending on how I run my project, the version used by this library is selected and crashes as it cannot par

[2020-04-01 12:48] andreElrico commented on #277
small typo
[code]

[2020-04-06 23:44] awlayton opened #289 "unreachableDefinitions true does not always work as expected"
library version: 8..2.0

When I give the option `unreachableDefinitions: true`  I do not always get types output for my definitions.

I have a schema that is _only_ a set of definitions and when I compile it I do get types for all the definitions.
But I also have a schema which has definitions as well as having actual schema checks in the root schema and when I compile it only a type for the root